# TITOLO<br>
This notebook was created for the exam of **Digital Pubishing and Electronic Storytelling**, taught by **Professor Marilena Daquino** at the **University of Bologna** during academic year **2021/2022**.
<br>
It presents the project NOME developed by [Francesca Borriello](https://github.com/Fran-cesca), [Lorenza Pierucci](https://github.com/LorenzaPierucci), [Laura Travaglini](https://github.com/lauratravaglini).

# About<br>
Descrizione da FIGMA

# 1. Creating our dataframes.<br>

Museums: evolving creatures feeding up on the artworks that will ultimately define what they look like, what they are. <br>
Collage: an assemblage of different forms creating a new whole, a mixture of heterogeneous elements, forms only apparently unrelated, no casual aggregation. A heap of broken images.<br>

MoMA and Tate: with 1,160,686 and 1,156,037 visitors per year in 2021 (despite dramatic attendance drops due to the pandemic) are universally known and recognised as two of the most influential museums worldwide.<br>

The first, founded in NY in 1929, is often identified as one of the largest and most influential museums of modern art in the world. It plays a major role in developing and collecting modern art. It includes works of architecture and design, drawing, painting, sculpture, photography, prints, illustrated books and artist's books, film, and electronic media
<br>

The second,  La Tate Modern è il museo d'arte moderna più visitato al mondo e si stima che ogni anno attiri oltre 5 milioni e mezzo di visitatori. (?)<br> 

Both 
that is only apparently casual
We worked with two museums (MoMa and Tate) making available datasets (csv format) containing informstion about their artworks, artists, acquisitions throughout time.<br>
After importing all the necessary libraries, we gather existing data from the into a `Pandas Dataframe` for easier data manipulation and table operations. <br>
In particular, data are

In [1]:
import pandas as pd
import csv
import re
from collections import defaultdict
from rdflib import Namespace , Literal , URIRef
from rdflib.namespace import RDF , RDFS
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl
import rdflib

# MoMa

In [2]:
spreadsheet = pd.read_csv('https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artworks.csv')
pd.set_option('display.max_columns', None)
MoMaArtworks = spreadsheet[['Title', 'Artist', 'ConstituentID', 'Nationality', 'BeginDate', 'EndDate','Date', 'Department', 'DateAcquired']]
MoMaArtists = pd.read_csv('https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artists.csv')
MoMaArtists["ConstituentID"] = MoMaArtists["ConstituentID"].astype(str)
MoMa = pd.merge(MoMaArtworks,MoMaArtists[['ConstituentID', 'Wiki QID']],on='ConstituentID', how='left')
MoMa.rename(columns = {'ConstituentID':'Id', 'BeginDate':'BirthDate', 'EndDate':'DeathDate'}, inplace = True)

# Tate

In [3]:
spreadsheet = pd.read_csv('https://raw.githubusercontent.com/tategallery/collection/master/artwork_data.csv')
pd.set_option('display.max_columns', None)
TateArtworks = spreadsheet[['artist', 'artistId', 'title', 'medium', 'creditLine', 'year', 'acquisitionYear', 'url']]
TateArtworks.rename(columns = {'artistId':'id'}, inplace = True)
TateArtworks.id = TateArtworks.id.astype(str)
TateArtists = pd.read_csv('https://raw.githubusercontent.com/tategallery/collection/master/artist_data.csv')
TateArtists["id"] = TateArtists["id"].astype(str)
Tate = pd.merge(TateArtworks,TateArtists[['id', 'gender', 'yearOfBirth', 'yearOfDeath']], on='id', how='left')
Tate.rename(columns = {'artist':'Artist', 'id':'Id', 'title':'Title', 'yearOfBirth':'BirthDate', 'yearOfDeath':'DeathDate', 'medium':'Medium', 'creditLine':'CreditLine', 'year':'Date', 'acquisitionYear':'DateAcquired', 'url':'URL', 'gender':'Gender'}, inplace = True)

C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\pandas\core\frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\pandas\core\generic.py:5489: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

# Cleaning up

## MoMa

Let's get rid of nan values:

In [4]:
MoMa.fillna(value='0', inplace=True)

Clean MoMa Acquisition Dates: they are on the form YYYY-MM-DD. We just want the YYYY as an int.

In [5]:
def cleanAcquisitionDatesMoMa(date):
    if '-' in date:
        date = date.split('-')[0]
    return date

In [6]:
MoMa["DateAcquired"] = MoMa["DateAcquired"].apply(cleanAcquisitionDatesMoMa)

Clean MoMa Artworks' Dates. <br>
Indeed, they are in some unclear forms, such as:<br>
(1950).  (Prints executed 1948<br>
(1883, published 1897)<br>
(1911, dated 1912, published c. 1917)<br>
(April 9 and August 31, 1971)<br>
(April 23) 1968<br>
(journals published October 2003 through June 2004)<br>

We just need the year.

In [7]:
def cleanDatesMoMa(date):
    if '-' in date:
        splitted = date.split('-')
        date = ' '.join(splitted) 
    if '/' in date:
        splitted = date.split('/')
        date = ' '.join(splitted) 
    if ',' in date:
        splitted = date.split(',')
        date = ' '.join(splitted) 
    if '.' in date:
        splitted = date.split('.')
        date = ' '.join(splitted) 
        
    x = re.search("\d{4}", date)
    if x:
        date = x.group()
    else:
        date = '0'
    return date

In [8]:
MoMa["Date"] = MoMa["Date"].astype(str)
MoMa["Date"] = MoMa["Date"].apply(cleanDatesMoMa)

## Tate

Let's get rid of nan values and strings:

In [9]:
Tate.fillna(value='0', inplace=True)
Tate['Date'].replace(to_replace='no date', value='0', inplace= True)
Tate['Date'].replace(to_replace='c', value='0', inplace= True)

Clean Tate Acquisition and Artworks' Dates: they are on the form YYYY.0. We want an integer.

In [10]:
def cleanDatesTate(date):
    if '.' in date:
        date = date.split('.')[0] 
    return date

In [11]:
Tate["Date"] = Tate["Date"].astype(str)
Tate["Date"] = Tate["Date"].apply(cleanDatesTate)

Tate["DateAcquired"] = Tate["DateAcquired"].astype(str)
Tate["DateAcquired"] = Tate["DateAcquired"].apply(cleanDatesTate)

# Exploration

## How many artworks?

In [12]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    selected_rows = museum[~museum['Title'].isnull()]
    name = names.pop(0)
    print("Total artworks at", name, ":", len(selected_rows.index))

Total artworks at Moma : 140848
Total artworks at Tate : 69201

## Which kind of artworks?

In [13]:
MoMa.to_csv('MoMa.csv')
from collections import defaultdict 

with open('MoMa.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    artworksType = defaultdict(dict)
    for item in reader:
        if item['Department'] not in artworksType:
            artworksType[item['Department']] = 1
        else:
            artworksType[item['Department']] += 1
    print(artworksType)

defaultdict(<class 'dict'>, {'Architecture & Design': 20237, 'Drawings & Prints': 77791, 'Painting & Sculpture': 3981, 'Photography': 32991, 'Media and Performance': 3006, 'Film': 874, 'Architecture & Design - Image Archive': 30, 'Fluxus Collection': 1938})

## When do artworks date back?

In [14]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    museum["Date"] = museum["Date"].astype(int)
    museum.sort_values(by=['Date'], inplace=True)
    museumWithoutZeros = museum[museum['Date'] != 0]
    firstDate = museumWithoutZeros['Date'].iat[0]
    lastDate = museumWithoutZeros['Date'].iat[-1]
    name = names.pop(0)
    print("Most ancient artwork at", name, "dates back to",firstDate )
    print("Most recent artwork at", name, "dates back to",lastDate )

Most ancient artwork at Moma dates back to 1768
Most recent artwork at Moma dates back to 2022

ValueError: invalid literal for int() with base 10: 'c'

## When were artworks acquired?

In [ ]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    museum["DateAcquired"] = museum["DateAcquired"].astype(int)
    museum.sort_values(by=['DateAcquired'], inplace=True)
    museumWithoutZeros = museum[museum['DateAcquired'] != 0]
    firstDate = museumWithoutZeros['DateAcquired'].iat[0]
    lastDate = museumWithoutZeros['Date'].iat[-1]
    name = names.pop(0)
    print("Most ancient artwork at", name, "dates back to",firstDate )
    print("Most receny artwork at", name, "dates back to",lastDate )

## Artists

For examining artist-related issues, we will rely on the specific csvs from the museums, whoch we already transformed into dataframes.

### How many artists?

print('Total number of artists at MoMa', len(MoMaArtists))

In [ ]:
print('Total number of artists at Tate', len(TateArtists))

## Which kind of artists?

In [70]:
ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

artistsNames = TateIntegration["name"].values
artists = "$|^".join(artistsNames)

artistsIds = """
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?occupation
WHERE {{
    ?artist rdfs:label ?o.
    FILTER regex(?o, \"^"""+artists+"""$\" )
            FILTER (langMatches(lang(?o), "EN")).
    ?artist wdt:P106 ?occupation.
}}

"""


# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(artistsIds)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()
print(results)

# manipulate the result
for result in results["results"]["bindings"]:
    artists =  result["occupation"]["value"]
    print(artists)

EndPointInternalError: EndPointInternalError: endpoint returned code 500 and response.

Response:
b'SPARQL-QUERY: queryStr=\nPREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nSELECT DISTINCT ?occupation\nWHERE {{\n    ?artist rdfs:label ?o.\n    FILTER regex(?o, "^Shusaku Arakawa$|^John Bacon$|^Ruth Baehnisch$|^A. Belloguet$|^Nikolaj Bendix Skyum Larsen$|^Caroline Bergvall$|^Christina Broom$|^Samuel Cooper$|^Viktor Deni$|^Juan Downey$|^Gaspard Dughet$|^Eugenio Espinoza$|^Josif Gerasimovich$|^Jack Goldstein$|^Lawrence Abu Hamdan$|^Stephen Herwijck$|^Highmore$|^Enrique Huerta$|^Inventory$|^Sergei Ivanov$|^K.O.S.$|^Amar Kanwar$|^Georgii Kibardin$|^Nikolai Kochergin$|^Nikolai Kogout$|^Kiyohiko Komura$|^Vladimir Kozlinsky$|^KwieKulik$|^Suzanne Lacy$|^Lairesse$|^Robin Laurie$|^David Le Marchand$|^Hubert Le Sueur$|^Alexander Lebedev$|^London Gallery$|^Len Lye$|^Alex Mackay$|^A Marsingall$|^J. Martin  of Canterbury$|^E. Masters$|^Vladimir Mayakovsky$|^Dmitrii Melnikov$|^Francis Merivale$|^Dmitrii Moor$|^Morin$|^Melik Ohanian$|^James Orrock$|^Sylvia Pankhurst$|^Pallavi Paul$|^Osmar Pe\xc3\xa7anha$|^Sergei Ivanovich Pichugin$|^Paulo Pires$|^Olivia Plender$|^Anne and Patrick Poirier$|^R. H. Quaytman$|^Hester Reeve$|^Ingmar Reuter$|^Emilio Rivera$|^Russian School$|^Eduardo Salvatore$|^Gunther Sander$|^Mithu Sen$|^Stephanie Smith$|^Monika Sosnowska$|^Soviet School$|^William Staite-Murray$|^Haim Steinbach$|^Adolf Strakhov-Braslavsky$|^Dalmo Teixeira Filho$|^Tollemache$|^L\xc3\xa9onard Cosme Totchemetcheho$|^V.Ch.K.$|^Adolphe Valette$|^Vara$|^Dee Villers$|^Francis Vivares$|^Imke Wagener$|^Shelagh Wakely$|^Richard Westmacott$|^Jos\xc3\xa9 Yalenti$|^Jakub Julian Ziolkowski$" )\n            FILTER (langMatches(lang(?o), "EN")).\n    ?artist wdt:P106 ?occupation.\n}}\n\n\njava.util.concurrent.TimeoutException\n\tat java.util.concurrent.FutureTask.get(FutureTask.java:205)\n\tat com.bigdata.rdf.sail.webapp.BigdataServlet.submitApiTask(BigdataServlet.java:292)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet.doSparqlQuery(QueryServlet.java:678)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet.doGet(QueryServlet.java:290)\n\tat com.bigdata.rdf.sail.webapp.RESTServlet.doGet(RESTServlet.java:240)\n\tat com.bigdata.rdf.sail.webapp.MultiTenancyServlet.doGet(MultiTenancyServlet.java:273)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:687)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:790)\n\tat org.eclipse.jetty.servlet.ServletHolder.handle(ServletHolder.java:865)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1655)\n\tat org.wikidata.query.rdf.blazegraph.throttling.ThrottlingFilter.doFilter(ThrottlingFilter.java:320)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.throttling.SystemOverloadFilter.doFilter(SystemOverloadFilter.java:82)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat ch.qos.logback.classic.helpers.MDCInsertingServletFilter.doFilter(MDCInsertingServletFilter.java:49)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.QueryEventSenderFilter.doFilter(QueryEventSenderFilter.java:116)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.ClientIPFilter.doFilter(ClientIPFilter.java:43)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.JWTIdentityFilter.doFilter(JWTIdentityFilter.java:66)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.RealAgentFilter.doFilter(RealAgentFilter.java:33)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.RequestConcurrencyFilter.doFilter(RequestConcurrencyFilter.java:50)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1634)\n\tat org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:533)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:146)\n\tat org.eclipse.jetty.security.SecurityHandler.handle(SecurityHandler.java:548)\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:257)\n\tat org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:1595)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:255)\n\tat org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1340)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:203)\n\tat org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:473)\n\tat org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:1564)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:201)\n\tat org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1242)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:144)\n\tat org.eclipse.jetty.server.handler.ContextHandlerCollection.handle(ContextHandlerCollection.java:220)\n\tat org.eclipse.jetty.server.handler.HandlerCollection.handle(HandlerCollection.java:126)\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\n\tat org.eclipse.jetty.server.Server.handle(Server.java:503)\n\tat org.eclipse.jetty.server.HttpChannel.handle(HttpChannel.java:364)\n\tat org.eclipse.jetty.server.HttpConnection.onFillable(HttpConnection.java:260)\n\tat org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:305)\n\tat org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:103)\n\tat org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:118)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.runTask(EatWhatYouKill.java:333)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.doProduce(EatWhatYouKill.java:310)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.tryProduce(EatWhatYouKill.java:168)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.run(EatWhatYouKill.java:126)\n\tat org.eclipse.jetty.util.thread.ReservedThreadExecutor$ReservedThread.run(ReservedThreadExecutor.java:366)\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:765)\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:683)\n\tat java.lang.Thread.run(Thread.java:750)\n'

### What is the most represented gender?

In [ ]:
TateArtists['gender'].value_counts()

In [ ]:
MoMaArtists['Gender'].value_counts()

### What are the most represented nationalities?

### Tate

Since artists' names are in the form 'Surname, Name', we use a function to normalise that as 'Name Surname'.

In [16]:
TateIntegration = TateArtists[TateArtists['gender'].isna()]
TateIntegration = TateIntegration[TateIntegration['name'] != 'Anonymous']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Art & Language (Michael Baldwin, born 1945; Mel Ramsden, born 1944)']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Art & Language (Terry Atkinson, born 1939; David Bainbridge, born 1941; Michael Baldwin, born 1945; Harold Hurrell, born']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Art & Language (Terry Atkinson, born 1939; Michael Baldwin, born 1945)']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Atlas Group']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Becher, Prof. Bernd']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Black Audio Film Collective (John Akomfrah; Reece Auguis; Edward George; Lina Gopaul; Avril Johnson; David Lawson; Trevo']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Booth, L']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Boyd and Evans, Fionnuala and Leslie']
TateIntegration = TateIntegration[TateIntegration['name'] != 'British (?) School']
TateIntegration = TateIntegration[TateIntegration['name'] != 'British (?) School 19th century']
TateIntegration = TateIntegration[TateIntegration['name'] != 'British School 17th century']
TateIntegration = TateIntegration[TateIntegration['name'] != 'British School 16th century']
TateIntegration = TateIntegration[TateIntegration['name'] != 'British School 17th or 18th century']
TateIntegration = TateIntegration[TateIntegration['name'] != 'British School 18th century']
TateIntegration = TateIntegration[TateIntegration['name'] != 'British School 19th century']
TateIntegration = TateIntegration[TateIntegration['name'] != 'British School 20th century']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Chinese School 18th century']
TateIntegration = TateIntegration[TateIntegration['name'] != 'French School 18th century']
TateIntegration = TateIntegration[TateIntegration['name'] != 'French School 19th century']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Gent, G.W.']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Glik, M.']
TateIntegration = TateIntegration[TateIntegration['name'] != 'International Local (Sarah Charlesworth; Joseph Kosuth; Anthony McCall)']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Italian or German (?) School 17th century']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Langlands and Bell, Ben and Nikki']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Italian or German (?) School 17th century']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Langlands and Bell, Ben and Nikki']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Lucy and Eegyudluk']
TateIntegration = TateIntegration[TateIntegration['name'] != 'M/M (Paris, France)']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Moore, T.']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Skeaf, D.']
TateIntegration = TateIntegration[TateIntegration['name'] != 'T R Uthco (Doug Hall born 1944, Diane Andrews Hall born 1945, Jody Procter 1944-1998)']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Art & Language (Ian Burn, 1939-1993; Mel Ramsden, born 1944)']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Thomson, W.']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Turton, M.']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Unknown']
TateIntegration = TateIntegration[TateIntegration['name'] != 'Young-Hae Chang Heavy Industries (Young-Hae Chang, Marc Voge)']

In [17]:
def cleanArtistsNames(name):
    if ',' in name:
        name= name.split(',')
        name[0], name[1] = name[1], name[0]
        name = ' '.join(name)
    return name.strip()

In [18]:
TateIntegration["name"] = TateIntegration["name"].apply(cleanArtistsNames)

In [117]:
ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

artistsNames = TateIntegration["name"].values
artists = "$|^".join(artistsNames)

artistsIds = """
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {{
    ?artist wdt:P31 wd:Q5 . 
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) ) 
    ?artist rdfs:label ?o
    FILTER regex(?o, \"^"""+artists+"""$\" )
            FILTER (langMatches(lang(?o), "EN")).
}}

"""


# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(artistsIds)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()
print(results)
# manipulate the result
for result in results["results"]["bindings"]:
    artists =  result["artist"]["value"]
    print(artists)

KeyboardInterrupt:

In [ ]:
from json import JSONDecodeError
from qwikidata.sparql import return_sparql_query_results # python library for working with sparql and linked data from WikiData
import time
from requests.exceptions import ChunkedEncodingError
import math
#from SPARQLWrapper import SPARQLWrapper, JSON # sparql query library
import ssl

artists_genders_from_ids = """
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {{
    ?artist wdt:P31 wd:Q5 . 
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q10774753) ) 
    ?artist rdfs:label ?o
    FILTER regex(?o, \"^{}$\" )
            FILTER (langMatches(lang(?o), "EN")).
}}

"""

In [ ]:
def find_artists_genders_from_ids(name):
    query = artists_genders_from_ids.format(name.strip())
    res = return_sparql_query_results(query_string=query)
    print(query)
    try:
        wdt_uri = res['results']['bindings'][0]['artist']['value']
    except (IndexError, KeyError):
        return ""
    return wdt_uri.split("/")[-1]

In [26]:
TateIntegration["Artist Entity"] = TateIntegration["name"].apply(find_artists_genders_from_ids)

PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Shusaku Arakawa$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^John Bacon$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Ruth Baehnisch$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^A. Belloguet$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Nikolaj Bendix Skyum Larsen$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Caroline Bergvall$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Christina Broom$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Samuel Cooper$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Viktor Deni$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Juan Downey$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Gaspard Dughet$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Eugenio Espinoza$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Josif Gerasimovich$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Jack Goldstein$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Lawrence Abu Hamdan$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Stephen Herwijck$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Highmore$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Enrique Huerta$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Inventory$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Sergei Ivanov$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^K.O.S.$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Amar Kanwar$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Georgii Kibardin$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Nikolai Kochergin$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Nikolai Kogout$" )
            FILTER (langMatches(lang(?o), "EN")).
}

PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Kiyohiko Komura$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Vladimir Kozlinsky$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^KwieKulik$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Suzanne Lacy$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Lairesse$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Robin Laurie$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^David Le Marchand$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Hubert Le Sueur$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Alexander Lebedev$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^London Gallery$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Len Lye$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Alex Mackay$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^A Marsingall$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^J. Martin  of Canterbury$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^E. Masters$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Vladimir Mayakovsky$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Dmitrii Melnikov$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Francis Merivale$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Dmitrii Moor$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Morin$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Melik Ohanian$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^James Orrock$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Sylvia Pankhurst$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Pallavi Paul$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Osmar Peçanha$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Sergei Ivanovich Pichugin$" )
            FILTER (langMatches(lang(?o), "EN")).
}

PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Paulo Pires$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Olivia Plender$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Anne and Patrick Poirier$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^R. H. Quaytman$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Hester Reeve$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Ingmar Reuter$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Emilio Rivera$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Russian School$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Eduardo Salvatore$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Gunther Sander$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Mithu Sen$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Stephanie Smith$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Monika Sosnowska$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Soviet School$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^William Staite-Murray$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Haim Steinbach$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Adolf Strakhov-Braslavsky$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Dalmo Teixeira Filho$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Tollemache$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Léonard Cosme Totchemetcheho$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^V.Ch.K.$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Adolphe Valette$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Vara$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Dee Villers$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Francis Vivares$" )
            FILTER (langMatches(lang(?o), "EN")).
}

PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Imke Wagener$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Shelagh Wakely$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Richard Westmacott$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^José Yalenti$" )
            FILTER (langMatches(lang(?o), "EN")).
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )
    ?artist rdfs:label ?o
    FILTER regex(?o, "^Jakub Julian Ziolkowski$" )
            FILTER (langMatches(lang(?o), "EN")).
}

In [27]:
pd.set_option('display.max_rows', None)
display(TateIntegration)

,id,name,gender,dates,yearOfBirth,yearOfDeath,placeOfBirth,placeOfDeath,url,Artist Entity
84,657,Shusaku Arakawa,NaN,1936–2010,1936.0,2010.0,"Nagoya, Nihon","New York, United States",http://www.tate.org.uk/art/artists/shusaku-ara...,
142,18070,John Bacon,NaN,1740–1799,1740.0,1799.0,NaN,NaN,http://www.tate.org.uk/art/artists/john-bacon-...,Q918565
145,12918,Ruth Baehnisch,NaN,1910–1997,1910.0,1997.0,NaN,NaN,http://www.tate.org.uk/art/artists/ruth-baehni...,
242,2618,A. Belloguet,NaN,19th century,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/a-belloguet...,
244,18264,Nikolaj Bendix Skyum Larsen,NaN,born 1971,1971.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/nikolaj-ben...,
255,18242,Caroline Bergvall,NaN,born 1962,1962.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/caroline-be...,
411,10428,Christina Broom,NaN,1863–1939,1863.0,1939.0,NaN,NaN,http://www.tate.org.uk/art/artists/christina-b...,
684,3807,Samuel Cooper,NaN,1609–1672,1609.0,1672.0,NaN,NaN,http://www.tate.org.uk/art/artists/samuel-coop...,
834,5669,Viktor Deni,NaN,1893–1946,1893.0,1946.0,NaN,NaN,http://www.tate.org.uk/art/artists/viktor-deni...,
897,13086,Juan Downey,NaN,1940–1993,1940.0,1993.0,NaN,NaN,http://www.tate.org.uk/art/artists/juan-downey...,
922,12074,Gaspard Dughet,NaN,1615–1675,1615.0,1675.0,NaN,NaN,http://www.tate.org.uk/art/artists/gaspard-dug...,Q741375
979,14308,Eugenio Espinoza,NaN,born 1950,1950.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/eugenio-esp...,
1160,6642,Josif Gerasimovich,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/josif-geras...,
1218,13568,Jack Goldstein,NaN,1945–2003,1945.0,2003.0,NaN,NaN,http://www.tate.org.uk/art/artists/jack-goldst...,
1344,18244,Lawrence Abu Hamdan,NaN,born 1985,1985.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/lawrence-ab...,
1440,3819,Stephen Herwijck,NaN,c.1530–1567,1530.0,1567.0,NaN,NaN,http://www.tate.org.uk/art/artists/stephen-van...,
1448,2259,Highmore,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/highmore-fa...,
1540,13334,Enrique Huerta,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/enrique-hue...,
1584,4561,Inventory,NaN,founded 1996,1996.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/inventory-4561,
1593,5741,Sergei Ivanov,NaN,1885–1942,1885.0,1942.0,NaN,NaN,http://www.tate.org.uk/art/artists/sergei-ivan...,
1672,3092,K.O.S.,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/kos-3092,
1679,18243,Amar Kanwar,NaN,born 1964,1964.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/amar-kanwar...,
1719,5676,Georgii Kibardin,NaN,1903–63,1903.0,1963.0,NaN,NaN,http://www.tate.org.uk/art/artists/georgii-kib...,
1760,17121,Nikolai Kochergin,NaN,1897 – 1974,1897.0,1974.0,NaN,NaN,http://www.tate.org.uk/art/artists/nikolai-koc...,
1762,5645,Nikolai Kogout,NaN,1891–1959,1891.0,1959.0,NaN,NaN,http://www.tate.org.uk/art/artists/nikolai-kog...,
1771,14424,Kiyohiko Komura,NaN,1899–1969,1899.0,1969.0,NaN,NaN,http://www.tate.org.uk/art/artists/kiyohiko-ko...,
1785,17127,Vladimir Kozlinsky,NaN,1891 – 1967,1891.0,1967.0,NaN,NaN,http://www.tate.org.uk/art/artists/vladimir-ko...,
1803,10957,KwieKulik,NaN,"born 1945, born 1947",1945.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/kwiekulik-p...,
1810,13736,Suzanne Lacy,NaN,born 1945,1945.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/suzanne-lac...,
1815,2633,Lairesse,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/lairesse-2633,
1860,1474,Robin Laurie,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/robin-lauri...,
1876,17924,David Le Marchand,NaN,1674–1726,1674.0,1726.0,NaN,NaN,http://www.tate.org.uk/art/artists/david-le-ma...,Q3018277
1880,17197,Hubert Le Sueur,NaN,c.1590 – after 1658,1590.0,1658.0,NaN,NaN,http://www.tate.org.uk/art/artists/hubert-le-s...,Q3142050
1889,5813,Alexander Lebedev,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/alexander-l...,
1974,1138,London Gallery,NaN,"born ?, born 1948",1948.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/the-london-...,
2000,16926,Len Lye,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/len-lye-16926,Q1288566
2017,1542,Alex Mackay,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/alex-mackay...,
2083,2515,A Marsingall,NaN,19th century,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/a-marsingal...,
2091,2581,J. Martin of Canterbury,NaN,19th century,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/j-martin-of...,
2107,2516,E. Masters,NaN,19th century,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/e-masters-2516,
2121,5672,Vladimir Mayakovsky,NaN,1893–1930,1893.0,1930.0,NaN,NaN,http://www.tate.org.uk/art/artists/vladimir-ma...,
2162,17135,Dmitrii Melnikov,NaN,1899 – 1962,1899.0,1962.0,NaN,NaN,http://www.tate.org.uk/art/artists/dmitrii-mel...,
2169,2538,Francis Merivale,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/francis-mer...,
2238,5648,Dmitrii Moor,NaN,1883–1946,1883.0,1946.0,NaN,NaN,http://www.tate.org.uk/art/artists/dmitrii-moo...,
2253,2634,Morin,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/morin-2634,
2378,10282,Melik Ohanian,NaN,born 1969,1969.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/melik-ohani...,
2413,17008,James Orrock,NaN,1829–1913,1829.0,1913.0,NaN,NaN,http://www.tate.org.uk/art/artists/james-orroc...,
2443,18372,Sylvia Pankhurst,NaN,1882 – 1960,1882.0,1960.0,NaN,NaN,http://www.tate.org.uk/art/artists/sylvia-pank...,
2471,18267,Pallavi Paul,NaN,born 1986,1986.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/pallavi-pau...,
2481,11736,Osmar Peçanha,NaN,born 1926,1926.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/osmar-pecan...,
2526,5673,Sergei Ivanovich Pichugin,NaN,1881–1971,1881.0,1971.0,NaN,NaN,http://www.tate.org.uk/art/artists/sergei-ivan...,
2541,11741,Paulo Pires,NaN,born 1928,1928.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/paulo-pires...,
2552,12600,Olivia Plender,NaN,born 1977,1977.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/olivia-plen...,
2558,1783,Anne and Patrick Poirier,NaN,"born 1942, born 1942",1942.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/anne-poirie...,
2613,15967,R. H. Quaytman,NaN,born 1961,1961.0,NaN,"Boston, United States",NaN,http://www.tate.org.uk/art/artists/r-h-quaytma...,
2648,18896,Hester Reeve,NaN,born 1965,1965.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/hester-reev...,
2667,1830,Ingmar Reuter,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/ingmar-reut...,
2708,13335,Emilio Rivera,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/emilio-rive...,
2777,7965,Russian School,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/russian-sch...,
2800,11737,Eduardo Salvatore,NaN,1914–2006,1914.0,2006.0,NaN,NaN,http://www.tate.org.uk/art/artists/eduardo-sal...,
2805,12947,Gunther Sander,NaN,1907– 1986,1907.0,1986.0,NaN,NaN,http://www.tate.org.uk/art/artists/gunther-san...,
2870,18266,Mithu Sen,NaN,born 1971,1971.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/mithu-sen-1...,
2973,2735,Stephanie Smith,NaN,"born 1968, born 1961",1961.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/stephanie-s...,
2995,13098,Monika Sosnowska,NaN,born 1972,1972.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/monika-sosn...,Q520491
3004,5888,Soviet School,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/soviet-scho...,
3023,17224,William Staite-Murray,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/william-sta...,
3043,5227,Haim Steinbach,NaN,born 1944,1944.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/haim-steinb...,Q5639315
3068,5739,Adolf Strakhov-Braslavsky,NaN,1896–1979,1896.0,1979.0,NaN,NaN,http://www.tate.org.uk/art/artists/adolf-strak...,
3133,11739,Dalmo Teixeira Filho,NaN,1923–1981,1923.0,1981.0,NaN,NaN,http://www.tate.org.uk/art/artists/dalmo-teixe...,
3182,2537,Tollemache,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/tollemache-...,
3192,17656,Léonard Cosme Totchemetcheho,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/totche-17656,
3257,17134,V.Ch.K.,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/vchk-17134,
3261,17036,Adolphe Valette,NaN,1876 – 1942,1876.0,1942.0,NaN,NaN,http://www.tate.org.uk/art/artists/adolphe-val...,
3275,17129,Vara,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/vara-17129,
3301,2107,Dee Villers,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/dee-villers...,
3305,17732,Francis Vivares,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/francis-viv...,
3317,11825,Imke Wagener,NaN,born 1971,1971.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/imke-wagene...,
3319,14825,Shelagh Wakely,NaN,1932–2011,1932.0,2011.0,NaN,NaN,http://www.tate.org.uk/art/artists/shelagh-wak...,Q26457496
3386,18071,Richard Westmacott,NaN,1775–1856,1775.0,1856.0,NaN,NaN,http://www.tate.org.uk/art/artists/richard-wes...,Q6238282
3495,11740,José Yalenti,NaN,1895–1967,1895.0,1967.0,NaN,NaN,http://www.tate.org.uk/art/artists/jose-yalent...,
3522,13099,Jakub Julian Ziolkowski,NaN,born 1980,1980.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/jakub-julia...,

In [19]:
new = TateIntegration.copy(deep=True)
new['Artist Entity'].replace(to_replace='', value='0', inplace= True)

newLo =  new[new['Artist Entity'].isna()]

display(new)

KeyError: 'Artist Entity'

In [28]:
TateIntegration.to_csv('PrimaIntegrazione.csv')

In [111]:
foundValues = TateIntegration[TateIntegration['Artist Entity'].notna()]
display(foundValues)
TateIntegration =  TateIntegration[TateIntegration['Artist Entity'].isna()]
display(TateIntegration)

Empty DataFrame
Columns: [id, name, gender, dates, yearOfBirth, yearOfDeath, placeOfBirth, placeOfDeath, url, Artist Entity]
Index: []

Empty DataFrame
Columns: [id, name, gender, dates, yearOfBirth, yearOfDeath, placeOfBirth, placeOfDeath, url, Artist Entity]
Index: []

In [37]:
def stripNames(name):
    return name.strip()

In [38]:
TateIntegration["name"] = TateIntegration["name"].apply(stripNames)

In [57]:
from rdflib import Namespace , Literal , URIRef
from rdflib.namespace import RDF , RDFS
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl
import rdflib

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

artistsNames = TateIntegration["name"].values
artists = " ".join(artistsNames)
print(artists)

artists_genders_from_ids = """
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {{
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )   
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Leonardo Da Vinci")  .
}}

"""


'''# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(artists_genders_from_ids)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()
print(results)

# manipulate the result
for result in results["results"]["bindings"]:
    artists =  result["artist"]["value"]
    print(artists)'''

Shusaku Arakawa John Bacon Ruth Baehnisch A. Belloguet Nikolaj Bendix Skyum Larsen Caroline Bergvall Christina Broom Samuel Cooper Viktor Deni Juan Downey Gaspard Dughet Eugenio Espinoza Josif Gerasimovich Jack Goldstein Lawrence Abu Hamdan Stephen Herwijck Highmore Enrique Huerta Inventory Sergei Ivanov K.O.S. Amar Kanwar Georgii Kibardin Nikolai Kochergin Nikolai Kogout Kiyohiko Komura Vladimir Kozlinsky KwieKulik Suzanne Lacy Lairesse Robin Laurie David Le Marchand Hubert Le Sueur Alexander Lebedev London Gallery Len Lye Alex Mackay A Marsingall J. Martin  of Canterbury E. Masters Vladimir Mayakovsky Dmitrii Melnikov Francis Merivale Dmitrii Moor Morin Melik Ohanian James Orrock Sylvia Pankhurst Pallavi Paul Osmar Peçanha Sergei Ivanovich Pichugin Paulo Pires Olivia Plender Anne and Patrick Poirier R. H. Quaytman Hester Reeve Ingmar Reuter Emilio Rivera Russian School Eduardo Salvatore Gunther Sander Mithu Sen Stephanie Smith Monika Sosnowska Soviet School William Staite-Murray Haim Steinbach Adolf Strakhov-Braslavsky Dalmo Teixeira Filho Tollemache Léonard Cosme Totchemetcheho V.Ch.K. Adolphe Valette Vara Dee Villers Francis Vivares Imke Wagener Shelagh Wakely Richard Westmacott José Yalenti Jakub Julian Ziolkowski

'# set the endpoint \nsparql_wd = SPARQLWrapper(wikidata_endpoint)\n# set the query\nsparql_wd.setQuery(artists_genders_from_ids)\n# set the returned format\nsparql_wd.setReturnFormat(JSON)\n# get the results\nresults = sparql_wd.query().convert()\nprint(results)\n\n# manipulate the result\nfor result in results["results"]["bindings"]:\n    artists =  result["artist"]["value"]\n    print(artists)'

In [58]:
from rdflib import Namespace , Literal , URIRef
from rdflib.namespace import RDF , RDFS
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl
import rdflib

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

artistsNames = TateIntegration["name"].values
print(artistsNames)

for element in artistsNames:
    
    artists_genders_from_ids = """
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    SELECT DISTINCT ?artist
    WHERE {{
        ?artist wdt:P31 wd:Q5 .
        ?artist wdt:P106 ?occupation
                      FILTER (?occupation IN (wd:Q1281618) )   
        ?artist rdfs:label ?o
                      FILTER ( str(?o) = """+element+""")  .
    }}

 """


    # set the endpoint 
    sparql_wd = SPARQLWrapper(wikidata_endpoint)
    # set the query
    sparql_wd.setQuery(artists_genders_from_ids)
    # set the returned format
    sparql_wd.setReturnFormat(JSON)
    # get the results
    results = sparql_wd.query().convert()
    print(results)

    # manipulate the result
    for result in results["results"]["bindings"]:
        artists =  result["artist"]["value"]
        print(artists)

['Shusaku Arakawa' 'John Bacon' 'Ruth Baehnisch' 'A. Belloguet'
 'Nikolaj Bendix Skyum Larsen' 'Caroline Bergvall' 'Christina Broom'
 'Samuel Cooper' 'Viktor Deni' 'Juan Downey' 'Gaspard Dughet'
 'Eugenio Espinoza' 'Josif Gerasimovich' 'Jack Goldstein'
 'Lawrence Abu Hamdan' 'Stephen Herwijck' 'Highmore' 'Enrique Huerta'
 'Inventory' 'Sergei Ivanov' 'K.O.S.' 'Amar Kanwar' 'Georgii Kibardin'
 'Nikolai Kochergin' 'Nikolai Kogout' 'Kiyohiko Komura'
 'Vladimir Kozlinsky' 'KwieKulik' 'Suzanne Lacy' 'Lairesse' 'Robin Laurie'
 'David Le Marchand' 'Hubert Le Sueur' 'Alexander Lebedev'
 'London Gallery' 'Len Lye' 'Alex Mackay' 'A Marsingall'
 'J. Martin  of Canterbury' 'E. Masters' 'Vladimir Mayakovsky'
 'Dmitrii Melnikov' 'Francis Merivale' 'Dmitrii Moor' 'Morin'
 'Melik Ohanian' 'James Orrock' 'Sylvia Pankhurst' 'Pallavi Paul'
 'Osmar Peçanha' 'Sergei Ivanovich Pichugin' 'Paulo Pires'
 'Olivia Plender' 'Anne and Patrick Poirier' 'R. H. Quaytman'
 'Hester Reeve' 'Ingmar Reuter' 'Emilio Rivera' 'Russian School'
 'Eduardo Salvatore' 'Gunther Sander' 'Mithu Sen' 'Stephanie Smith'
 'Monika Sosnowska' 'Soviet School' 'William Staite-Murray'
 'Haim Steinbach' 'Adolf Strakhov-Braslavsky' 'Dalmo Teixeira Filho'
 'Tollemache' 'Léonard Cosme Totchemetcheho' 'V.Ch.K.' 'Adolphe Valette'
 'Vara' 'Dee Villers' 'Francis Vivares' 'Imke Wagener' 'Shelagh Wakely'
 'Richard Westmacott' 'José Yalenti' 'Jakub Julian Ziolkowski']

QueryBadFormed: QueryBadFormed: a bad request has been sent to the endpoint, probably the sparql query is bad formed.

Response:
b'SPARQL-QUERY: queryStr=\n    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\n    SELECT DISTINCT ?artist\n    WHERE {{\n        ?artist wdt:P31 wd:Q5 .\n        ?artist wdt:P106 ?occupation\n                      FILTER (?occupation IN (wd:Q1281618) )   \n        ?artist rdfs:label ?o\n                      FILTER ( str(?o) = Shusaku Arakawa)  .\n    }}\n\n \njava.util.concurrent.ExecutionException: org.openrdf.query.MalformedQueryException: Lexical error at line 9, column 49.  Encountered: " " (32), after : "Shusaku"\n\tat java.util.concurrent.FutureTask.report(FutureTask.java:122)\n\tat java.util.concurrent.FutureTask.get(FutureTask.java:206)\n\tat com.bigdata.rdf.sail.webapp.BigdataServlet.submitApiTask(BigdataServlet.java:292)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet.doSparqlQuery(QueryServlet.java:678)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet.doGet(QueryServlet.java:290)\n\tat com.bigdata.rdf.sail.webapp.RESTServlet.doGet(RESTServlet.java:240)\n\tat com.bigdata.rdf.sail.webapp.MultiTenancyServlet.doGet(MultiTenancyServlet.java:273)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:687)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:790)\n\tat org.eclipse.jetty.servlet.ServletHolder.handle(ServletHolder.java:865)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1655)\n\tat org.wikidata.query.rdf.blazegraph.throttling.ThrottlingFilter.doFilter(ThrottlingFilter.java:320)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.throttling.SystemOverloadFilter.doFilter(SystemOverloadFilter.java:82)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat ch.qos.logback.classic.helpers.MDCInsertingServletFilter.doFilter(MDCInsertingServletFilter.java:49)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.QueryEventSenderFilter.doFilter(QueryEventSenderFilter.java:116)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.ClientIPFilter.doFilter(ClientIPFilter.java:43)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.JWTIdentityFilter.doFilter(JWTIdentityFilter.java:66)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.RealAgentFilter.doFilter(RealAgentFilter.java:33)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.RequestConcurrencyFilter.doFilter(RequestConcurrencyFilter.java:50)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1634)\n\tat org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:533)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:146)\n\tat org.eclipse.jetty.security.SecurityHandler.handle(SecurityHandler.java:548)\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:257)\n\tat org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:1595)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:255)\n\tat org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1340)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:203)\n\tat org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:473)\n\tat org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:1564)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:201)\n\tat org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1242)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:144)\n\tat org.eclipse.jetty.server.handler.ContextHandlerCollection.handle(ContextHandlerCollection.java:220)\n\tat org.eclipse.jetty.server.handler.HandlerCollection.handle(HandlerCollection.java:126)\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\n\tat org.eclipse.jetty.server.Server.handle(Server.java:503)\n\tat org.eclipse.jetty.server.HttpChannel.handle(HttpChannel.java:364)\n\tat org.eclipse.jetty.server.HttpConnection.onFillable(HttpConnection.java:260)\n\tat org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:305)\n\tat org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:103)\n\tat org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:118)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.runTask(EatWhatYouKill.java:333)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.doProduce(EatWhatYouKill.java:310)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.tryProduce(EatWhatYouKill.java:168)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.run(EatWhatYouKill.java:126)\n\tat org.eclipse.jetty.util.thread.ReservedThreadExecutor$ReservedThread.run(ReservedThreadExecutor.java:366)\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:765)\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:683)\n\tat java.lang.Thread.run(Thread.java:750)\nCaused by: org.openrdf.query.MalformedQueryException: Lexical error at line 9, column 49.  Encountered: " " (32), after : "Shusaku"\n\tat com.bigdata.rdf.sail.sparql.Bigdata2ASTSPARQLParser.parseQuery2(Bigdata2ASTSPARQLParser.java:404)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet$SparqlQueryTask.call(QueryServlet.java:741)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet$SparqlQueryTask.call(QueryServlet.java:695)\n\tat com.bigdata.rdf.task.ApiTaskForIndexManager.call(ApiTaskForIndexManager.java:68)\n\tat java.util.concurrent.FutureTask.run(FutureTask.java:266)\n\tat java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)\n\tat java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)\n\t... 1 more\nCaused by: com.bigdata.rdf.sail.sparql.ast.TokenMgrError: Lexical error at line 9, column 49.  Encountered: " " (32), after : "Shusaku"\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilderTokenManager.getNextToken(SyntaxTreeBuilderTokenManager.java:3994)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.jj_ntk(SyntaxTreeBuilder.java:9637)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.UnaryExpression(SyntaxTreeBuilder.java:4341)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.MultiplicativeExpression(SyntaxTreeBuilder.java:4287)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.AdditiveExpression(SyntaxTreeBuilder.java:4193)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.NumericExpression(SyntaxTreeBuilder.java:4189)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.RelationalExpression(SyntaxTreeBuilder.java:4030)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.ValueLogical(SyntaxTreeBuilder.java:4013)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.ConditionalAndExpression(SyntaxTreeBuilder.java:3977)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.ConditionalOrExpression(SyntaxTreeBuilder.java:3941)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.Expression(SyntaxTreeBuilder.java:3937)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.BrackettedExpression(SyntaxTreeBuilder.java:5034)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.Constraint(SyntaxTreeBuilder.java:2573)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.Filter(SyntaxTreeBuilder.java:2562)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.FilterOrBind(SyntaxTreeBuilder.java:2245)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.BasicGraphPattern(SyntaxTreeBuilder.java:2111)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.GraphPattern(SyntaxTreeBuilder.java:2034)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.GroupGraphPattern(SyntaxTreeBuilder.java:1969)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.GroupOrUnionGraphPattern(SyntaxTreeBuilder.java:2451)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.GraphPatternNotTriples(SyntaxTreeBuilder.java:2361)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.GraphPattern(SyntaxTreeBuilder.java:2047)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.GroupGraphPattern(SyntaxTreeBuilder.java:1969)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.WhereClause(SyntaxTreeBuilder.java:1013)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.SelectQuery(SyntaxTreeBuilder.java:377)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.Query(SyntaxTreeBuilder.java:328)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.QueryContainer(SyntaxTreeBuilder.java:216)\n\tat com.bigdata.rdf.sail.sparql.ast.SyntaxTreeBuilder.parseQuery(SyntaxTreeBuilder.java:32)\n\tat com.bigdata.rdf.sail.sparql.Bigdata2ASTSPARQLParser.parseQuery2(Bigdata2ASTSPARQLParser.java:336)\n\t... 7 more\n'

In [ ]:
searchWiki(0, TateArtists)

### MoMa

In [28]:
MoMaArtists['Nationality'].value_counts()

American     5181
German        965
British       860
French        847
Italian       536
             ...
Catalan         1
Sahrawi         1
Cambodian       1
Coptic          1
Afghan          1
Name: Nationality, Length: 119, dtype: int64

# Acquisition criteria.

1.  In which years are artists' works mostly acquired?

## Year by year

In [29]:
MoMa['DateAcquired'].value_counts()

1964    12828
2008     7204
1968     6894
0        6682
2001     4170
        ...
1933       93
1932       18
1929        9
1930        7
1931        3
Name: DateAcquired, Length: 95, dtype: int64

In [30]:
Tate['DateAcquired'].value_counts()

1856    37893
1997     3706
1975     3046
2009     1364
1979     1166
        ...
1873        1
1843        1
1863        1
1842        1
1855        1
Name: DateAcquired, Length: 179, dtype: int64

Let us analyse acquisitions from a larger perspective: not year by year, but for every ten years.

In [31]:
MoMa.to_csv('MoMa.csv')
with open('MoMa.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    years={}
    for item in reader:
        if item['DateAcquired']not in years:
            years[item['DateAcquired']]= 1
        else:
            years[item['DateAcquired']]+= 1
new_dict={}
for key in years:
    key_int=int(key)
    if key_int in range(1928,1941):
        if '1930s' not in new_dict.keys():
               new_dict['1930s']= years[key]
        else:
            new_dict['1930s'] += years[key]
    if key_int in range(1940,1951):
        if '1940s' not in new_dict.keys():
               new_dict['1940s']= years[key]
        else:
            new_dict['1940s'] += years[key]
    
    if key_int in range(1950,1961):
        if '1950s' not in new_dict.keys():
               new_dict['1950s']= years[key]
        else:
            new_dict['1950s'] += years[key]
    
    if key_int in range(1960,1971):
        if '1960s' not in new_dict.keys():
               new_dict['1960s']= years[key]
        else:
            new_dict['1960s'] += years[key]
    
    if key_int in range(1970,1981):
        if '1970s' not in new_dict.keys():
               new_dict['1970s']= years[key]
        else:
            new_dict['1970s'] += years[key]
    if key_int in range(1980,1991):
        if '1980s' not in new_dict.keys():
               new_dict['1980s']= years[key]
        else:
            new_dict['1980s'] += years[key]
    
    if key_int in range(1990,2001):
        if '1990s' not in new_dict.keys():
               new_dict['1990s']= years[key]
        else:
            new_dict['1990s'] += years[key]
        
    
print('Moma:', new_dict)

Moma: {'1930s': 3318, '1940s': 8274, '1950s': 6846, '1960s': 31950, '1970s': 13868, '1980s': 11497, '1990s': 13332}

In [32]:
Tate.to_csv('Tate.csv')
with open('Tate.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    years={}
    for item in reader:
        if item['DateAcquired']not in years:
            years[item['DateAcquired']]= 1
        else:
            years[item['DateAcquired']]+= 1
new_dict={}
for key in years:
    key_int=int(key)
    if key_int in range(1928,1941):
        if '1930s' not in new_dict.keys():
               new_dict['1930s']= years[key]
        else:
            new_dict['1930s'] += years[key]
    if key_int in range(1940,1951):
        if '1940s' not in new_dict.keys():
               new_dict['1940s']= years[key]
        else:
            new_dict['1940s'] += years[key]
    
    if key_int in range(1950,1961):
        if '1950s' not in new_dict.keys():
               new_dict['1950s']= years[key]
        else:
            new_dict['1950s'] += years[key]
    
    if key_int in range(1960,1971):
        if '1960s' not in new_dict.keys():
               new_dict['1960s']= years[key]
        else:
            new_dict['1960s'] += years[key]
    
    if key_int in range(1970,1981):
        if '1970s' not in new_dict.keys():
               new_dict['1970s']= years[key]
        else:
            new_dict['1970s'] += years[key]
    if key_int in range(1980,1991):
        if '1980s' not in new_dict.keys():
               new_dict['1980s']= years[key]
        else:
            new_dict['1980s'] += years[key]
    
    if key_int in range(1990,2001):
        if '1990s' not in new_dict.keys():
               new_dict['1990s']= years[key]
        else:
            new_dict['1990s'] += years[key]
        
    
print('Tate:', new_dict)

Tate: {'1930s': 788, '1940s': 776, '1950s': 633, '1960s': 1048, '1970s': 6853, '1980s': 5538, '1990s': 6693}

## Gender Gap <br>
Does it decrease?
When?

In [33]:
with open('MoMa.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    gender={'1930s': {'Male': 0, 'Female': 0}, '1940s': {'Male': 0, 'Female': 0}, '1950s': {'Male': 0, 'Female': 0}, '1960s': {'Male': 0, 'Female': 0}, '1970s': {'Male': 0, 'Female': 0}, '1980s': {'Male': 0, 'Female': 0}, '1990s': {'Male': 0, 'Female': 0}}
    for item in reader:
        if int(item['DateAcquired']) in range (1928,1941):
            if (item['Gender'] == '(Female)'): 
                gender['1930s']['Female'] += 1
            else:
                gender['1930s']['Male'] += 1
        if int(item['DateAcquired']) in range (1940,1951):
            if (item['Gender'] == '(Female)'): 
                gender['1940s']['Female'] += 1
            else:
                gender['1940s']['Male'] += 1
        if int(item['DateAcquired']) in range (1950,1961):
            if (item['Gender'] == '(Female)'): 
                gender['1950s']['Female'] += 1
            else:
                gender['1950s']['Male'] += 1
        if int(item['DateAcquired']) in range (1960,1971):
            if (item['Gender'] == '(Female)'): 
                gender['1960s']['Female'] += 1
            else:
                gender['1960s']['Male'] += 1
        if int(item['DateAcquired']) in range (1970,1981):
            if (item['Gender'] == '(Female)'): 
                gender['1970s']['Female'] += 1
            else:
                gender['1970s']['Male'] += 1
        if int(item['DateAcquired']) in range (1980,1991):
            if (item['Gender'] == '(Female)'): 
                gender['1980s']['Female'] += 1
            else:
                gender['1980s']['Male'] += 1
        if int(item['DateAcquired']) in range (1990,2001):
            if (item['Gender'] == '(Female)'): 
                gender['1990s']['Female'] += 1
            else:
                gender['1990s']['Male'] += 1
    print(gender)

{'1930s': {'Male': 3082, 'Female': 236}, '1940s': {'Male': 7707, 'Female': 567}, '1950s': {'Male': 6476, 'Female': 370}, '1960s': {'Male': 30701, 'Female': 1249}, '1970s': {'Male': 12245, 'Female': 1623}, '1980s': {'Male': 10230, 'Female': 1267}, '1990s': {'Male': 10522, 'Female': 2810}}

Percentage: Male / Male + Female *2

In [34]:
for el in gender:
    tot = gender[el]['Male'] + gender[el]['Female']
    percentage = (gender[el]['Male']/tot)*100
    print (el, 'Male', round(percentage),'%', 'Female', round(100-percentage),'%')

1930s Male 93 % Female 7 %
1940s Male 93 % Female 7 %
1950s Male 95 % Female 5 %
1960s Male 96 % Female 4 %
1970s Male 88 % Female 12 %
1980s Male 89 % Female 11 %
1990s Male 79 % Female 21 %

In [39]:
with open('Tate.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    gender={'1930s': {'Male': 0, 'Female': 0}, '1940s': {'Male': 0, 'Female': 0}, '1950s': {'Male': 0, 'Female': 0}, '1960s': {'Male': 0, 'Female': 0}, '1970s': {'Male': 0, 'Female': 0}, '1980s': {'Male': 0, 'Female': 0}, '1990s': {'Male': 0, 'Female': 0}}
    for item in reader:
        if int(item['DateAcquired']) in range (1928,1941):
            if (item['Gender'] == 'Female'): 
                gender['1930s']['Female'] += 1
            else:
                gender['1930s']['Male'] += 1
        if int(item['DateAcquired']) in range (1940,1951):
            if (item['Gender'] == 'Female'): 
                gender['1940s']['Female'] += 1
            else:
                gender['1940s']['Male'] += 1
        if int(item['DateAcquired']) in range (1950,1961):
            if (item['Gender'] == 'Female'): 
                gender['1950s']['Female'] += 1
            else:
                gender['1950s']['Male'] += 1
        if int(item['DateAcquired']) in range (1960,1971):
            if (item['Gender'] == 'Female'): 
                gender['1960s']['Female'] += 1
            else:
                gender['1960s']['Male'] += 1
        if int(item['DateAcquired']) in range (1970,1981):
            if (item['Gender'] == 'Female'): 
                gender['1970s']['Female'] += 1
            else:
                gender['1970s']['Male'] += 1
        if int(item['DateAcquired']) in range (1980,1991):
            if (item['Gender'] == 'Female'): 
                gender['1980s']['Female'] += 1
            else:
                gender['1980s']['Male'] += 1
        if int(item['DateAcquired']) in range (1990,2001):
            if (item['Gender'] == 'Female'): 
                gender['1990s']['Female'] += 1
            else:
                gender['1990s']['Male'] += 1
    print(gender)

{'1930s': {'Male': 722, 'Female': 66}, '1940s': {'Male': 700, 'Female': 76}, '1950s': {'Male': 598, 'Female': 35}, '1960s': {'Male': 967, 'Female': 81}, '1970s': {'Male': 6398, 'Female': 455}, '1980s': {'Male': 5202, 'Female': 336}, '1990s': {'Male': 6025, 'Female': 668}}

In [40]:
for el in gender:
    tot = gender[el]['Male'] + gender[el]['Female']
    percentage = (gender[el]['Male']/tot)*100
    print (el, 'Male', round(percentage),'%', 'Female', round(100-percentage),'%')

1930s Male 92 % Female 8 %
1940s Male 90 % Female 10 %
1950s Male 94 % Female 6 %
1960s Male 92 % Female 8 %
1970s Male 93 % Female 7 %
1980s Male 94 % Female 6 %
1990s Male 90 % Female 10 %

## Nationalities

In which years artists' nationalities more influent on the selection? Per ogni 10 anni, percentuale di nazionalità acquisite e differenza.

### MoMa

In [41]:
MoMaArtists.rename(columns = {'ConstituentID':'Id'}, inplace = True)

In [10]:
def cleanDates(date):
    if '.' in date:
        date = date.split('.')[0]
    return date

In [1]:
MoMaNationalities = pd.merge(MoMaArtists,MoMa[['Id', 'DateAcquired']],on='Id', how='left')
MoMaNationalities.fillna(value='0', inplace=True)
MoMaNationalities["DateAcquired"] = MoMaNationalities["DateAcquired"].astype(str)
MoMaNationalities["DateAcquired"] = MoMaNationalities["DateAcquired"].apply(cleanDates)
MoMaNationalities = MoMaNationalities.drop_duplicates(subset='DisplayName', keep="first")
MoMaNationalities.to_csv('MoMaNationalities.csv')

NameError: name 'pd' is not defined

In [2]:
from collections import defaultdict 

with open('MoMaNationalities.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    nationalities = defaultdict(dict)
    for item in reader:
        if int(item['DateAcquired']) in range (1928,1941):
            if item['Nationality'] not in nationalities['1930s']:
                nationalities['1930s'][item['Nationality']] = 1
            else:
                nationalities['1930s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1940,1951):
            if item['Nationality'] not in nationalities['1940s']:
                nationalities['1940s'][item['Nationality']] = 1
            else:
                nationalities['1940s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1950,1961):
            if item['Nationality'] not in nationalities['1950s']:
                nationalities['1950s'][item['Nationality']] = 1
            else:
                nationalities['1950s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1960,1971):
            if item['Nationality'] not in nationalities['1960s']:
                nationalities['1960s'][item['Nationality']] = 1
            else:
                nationalities['1960s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1970,1981):
            if item['Nationality'] not in nationalities['1970s']:
                nationalities['1970s'][item['Nationality']] = 1
            else:
                nationalities['1970s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1980,1991):
            if item['Nationality'] not in nationalities['1980s']:
                nationalities['1980s'][item['Nationality']] = 1
            else:
                nationalities['1980s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1990,2001):
            if item['Nationality'] not in nationalities['1990s']:
                nationalities['1990s'][item['Nationality']] = 1
            else:
                nationalities['1990s'][item['Nationality']] += 1
        
                

print(nationalities)

NameError: name 'csv' is not defined

### Tate

In [30]:
def cleanNationalitiesTate(naz):
    if ',' in naz:
        naz = naz.split(',')[1]
    if naz == 'Blackheath':
        naz= naz.replace('Blackheath', 'United Kingdom')
    if naz == 'London':
        naz= naz.replace('London', 'United Kingdom')
    if naz == 'Kensington':
        naz= naz.replace('Kensington', 'United Kingdom')
    if naz == 'Chung-hua Min-kuo':
        naz= naz.replace('Chung-hua Min-kuo', 'Taiwan')
    if naz == 'Solothurn':
        naz= naz.replace('Solothurn', 'Schweiz')
    if naz == 'Melmerby':
        naz= naz.replace('Melmerby', 'United Kingdom')
    if naz == 'Montserrat':
        naz= naz.replace('Montserrat', 'España')
    if naz == 'Canterbury':
        naz= naz.replace('Canterbury', 'United Kingdom')
    if naz == 'Staten Island':
        naz= naz.replace('Staten Island', 'United States')
    if naz == 'Epsom':
        naz= naz.replace('Epsom', 'United Kingdom')
    if naz == 'Plymouth':
        naz= naz.replace('Plymouth', 'United Kingdom')
    if naz == 'Wimbledon':
        naz= naz.replace('Wimbledon', 'United Kingdom')
    if naz == 'Edinburgh':
        naz= naz.replace('Edinburgh', 'United Kingdom')
    if naz == 'Beckington':
        naz= naz.replace('Beckington', 'United Kingdom')
    if naz == 'Hertfordshire':
        naz= naz.replace('Hertfordshire', 'United Kingdom')
    if naz == 'Isle of Man':
        naz= naz.replace('Isle of Man', 'United Kingdom')
    if naz == 'Bristol':
        naz= naz.replace('Bristol', 'United Kingdom')
    if naz == 'Liverpool':
        naz= naz.replace('Liverpool', 'United Kingdom')
    if naz == 'Braintree':
        naz= naz.replace('Braintree', 'United Kingdom')
    if naz == 'Stoke on Trent':
        naz= naz.replace('Stoke on Trent', 'United Kingdom')
    if naz == 'Rochdale':
        naz= naz.replace('Rochdale', 'United Kingdom')
    if 'D.C.' in naz:
        naz= naz.replace('D.C.', 'Colombia')
    if 'Otok' in naz:
        naz= naz.replace('Otok', 'Hrvatska')
    if 'Département de la' in naz:
        naz= naz.replace('Département de la', 'France')
    if naz == 'Niederschlesien':
        naz= naz.replace('Niederschlesien', 'Polska')
    if naz == 'Perth':
        naz= naz.replace('Perth', 'Australia')
    if naz == 'Bermondsey':
        naz= naz.replace('Bermondsey', 'United Kingdom')
    if naz == 'Egremont':
        naz= naz.replace('Egremont', 'United Kingdom')
    if naz == 'Charlotte Amalie':
        naz= naz.replace('Charlotte Amalie', 'United States')
    if naz == 'Charlieu':
        naz= naz.replace('Charlieu', 'France')
    if naz == 'Stockholm':
        naz= naz.replace('Stockholm', 'Sverige')
    if naz == 'Auteuil':
        naz= naz.replace('Auteuil', 'France')

    if 'Polska' in naz:
        naz = naz.replace('Polska', 'Poland')
    if "Yisra'el" in naz:
        naz = naz.replace("Yisra'el", 'Israel')
    if 'Deutschland' in naz:
        naz = naz.replace('Deutschland', 'Germany')
    if 'Schweiz' in naz:
        naz = naz.replace('Schweiz', 'Switzerland')
    if 'Suomi' in naz:
        naz = naz.replace('Suomi', 'Finland')
    if 'Zhonghua' in naz:
        naz = naz.replace('Zhonghua', 'China')
    if 'Türkiye' in naz:
        naz = naz.replace('Türkiye', 'Turkey')
    if 'Al-‘Iraq' in naz:
        naz = naz.replace('Al-‘Iraq', 'Iraq')
    if 'België' in naz:
        naz = naz.replace('België', 'Belgium')
    if 'Rossiya' in naz:
        naz = naz.replace('Rossiya', 'Russia')
    if 'Nihon' in naz:
        naz = naz.replace('Nihon', 'Japan')
    if 'Éire' in naz:
        naz = naz.replace('Éire', 'Ireland')
    if 'Österreich' in naz:
        naz = naz.replace('Österreich', 'Austria')
    if 'Saint Hélier' in naz:
        naz = naz.replace('Saint Hélier', 'United Kingdom')
    if 'Ceská Republik' in naz:
        naz = naz.replace('Ceská Republik', 'Czech Republic')
    if 'Ukrayina' in naz:
        naz = naz.replace('Ukrayina', 'Ukraine')
    if 'Ellás' in naz:
        naz = naz.replace('Ellás', 'Greece')
    if 'Latvija ' in naz:
        naz = naz.replace('Latvija ', 'Latvia')
    if 'Douglas' in naz:
        naz = naz.replace('Douglas', 'United Kingdom')
    if 'România' in naz:
        naz = naz.replace('România', 'Romania')
    if 'Sverige' in naz:
        naz = naz.replace('Sverige', 'Sweden')
    if 'Bharat' in naz:
        naz = naz.replace('Bharat', 'India')    
    if 'España' in naz:
        naz = naz.replace('España', 'Spain')  
    if 'Magyarország' in naz:
        naz = naz.replace('Magyarország', 'Hungery') 
    if 'Slovenská Republika' in naz:
        naz = naz.replace('Slovenská Republika', 'Slovenia') 
       
    return naz.strip()

In [31]:
TateArtists.rename(columns = {'id':'Id'}, inplace = True)
TateNationalities = pd.merge(TateArtists,Tate[['Id', 'DateAcquired']],on='Id', how='left')
TateNationalities = TateNationalities[TateNationalities['placeOfBirth'].notna()]
TateNationalities = TateNationalities.drop_duplicates(subset='name', keep="first")
TateNationalities["placeOfBirth"] = TateNationalities["placeOfBirth"].apply(cleanNationalitiesTate)
TateNationalities.fillna(value='0', inplace=True)
TateNationalities["DateAcquired"] = TateNationalities["DateAcquired"].astype(str)
TateNationalities["DateAcquired"] = TateNationalities["DateAcquired"].apply(cleanDates)
TateNationalities.rename(columns = {'placeOfBirth':'Nationality'}, inplace = True)
TateNationalities.to_csv("TateNationalities.csv")

In [2]:
from collections import defaultdict 

with open('TateNationalities.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    nationalities = defaultdict(dict)
    for item in reader:
        if int(item['DateAcquired']) in range (1928,1941):
            if item['Nationality'] not in nationalities['1930s']:
                nationalities['1930s'][item['Nationality']] = 1
            else:
                nationalities['1930s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1940,1951):
            if item['Nationality'] not in nationalities['1940s']:
                nationalities['1940s'][item['Nationality']] = 1
            else:
                nationalities['1940s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1950,1961):
            if item['Nationality'] not in nationalities['1950s']:
                nationalities['1950s'][item['Nationality']] = 1
            else:
                nationalities['1950s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1960,1971):
            if item['Nationality'] not in nationalities['1960s']:
                nationalities['1960s'][item['Nationality']] = 1
            else:
                nationalities['1960s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1970,1981):
            if item['Nationality'] not in nationalities['1970s']:
                nationalities['1970s'][item['Nationality']] = 1
            else:
                nationalities['1970s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1980,1991):
            if item['Nationality'] not in nationalities['1980s']:
                nationalities['1980s'][item['Nationality']] = 1
            else:
                nationalities['1980s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1990,2001):
            if item['Nationality'] not in nationalities['1990s']:
                nationalities['1990s'][item['Nationality']] = 1
            else:
                nationalities['1990s'][item['Nationality']] += 1
        
                

print(nationalities)

NameError: name 'csv' is not defined