In [4]:
import pandas as pd
import csv
import re

# MoMa

In [5]:
spreadsheet = pd.read_csv('https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artworks.csv')
pd.set_option('display.max_columns', None)
MoMaArtworks = spreadsheet[['Title', 'Artist', 'ConstituentID', 'Nationality', 'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'CreditLine', 'Classification', 'Department', 'DateAcquired', 'URL']]
MoMaArtists = pd.read_csv('https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artists.csv')
MoMaArtists["ConstituentID"] = MoMaArtists["ConstituentID"].astype(str)
MoMa = pd.merge(MoMaArtworks,MoMaArtists[['ConstituentID', 'Wiki QID']],on='ConstituentID', how='left')
MoMa.rename(columns = {'ConstituentID':'Id', 'BeginDate':'BirthDate', 'EndDate':'DeathDate'}, inplace = True)

# Tate

In [100]:
spreadsheet = pd.read_csv('https://raw.githubusercontent.com/tategallery/collection/master/artwork_data.csv')
pd.set_option('display.max_columns', None)
TateArtworks = spreadsheet[['artist', 'artistId', 'title', 'medium', 'creditLine', 'year', 'acquisitionYear', 'url']]
TateArtworks.rename(columns = {'artistId':'id'}, inplace = True)
TateArtworks.id = TateArtworks.id.astype(str)
TateArtists = pd.read_csv('https://raw.githubusercontent.com/tategallery/collection/master/artist_data.csv')
TateArtists["id"] = TateArtists["id"].astype(str)
Tate = pd.merge(TateArtworks,TateArtists[['id', 'gender', 'yearOfBirth', 'yearOfDeath']], on='id', how='left')
Tate.rename(columns = {'artist':'Artist', 'id':'Id', 'title':'Title', 'yearOfBirth':'BirthDate', 'yearOfDeath':'DeathDate', 'medium':'Medium', 'creditLine':'CreditLine', 'year':'Date', 'acquisitionYear':'DateAcquired', 'url':'URL', 'gender':'Gender'}, inplace = True)

C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\pandas\core\frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\pandas\core\generic.py:5489: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

# Cleaning up

## MoMa

Let's get rid of nan values:

In [9]:
MoMa.fillna(value='0', inplace=True)

Clean MoMa Acquisition Dates: they are on the form YYYY-MM-DD. We just want the YYYY as an int.

In [10]:
def cleanAcquisitionDatesMoMa(date):
    if '-' in date:
        date = date.split('-')[0]
    return date

In [11]:
MoMa["DateAcquired"] = MoMa["DateAcquired"].apply(cleanAcquisitionDatesMoMa)

Clean MoMa Artworks' Dates. <br>
Indeed, they are in some unclear forms, such as:<br>
(1950).  (Prints executed 1948<br>
(1883, published 1897)<br>
(1911, dated 1912, published c. 1917)<br>
(April 9 and August 31, 1971)<br>
(April 23) 1968<br>
(journals published October 2003 through June 2004)<br>

We just need the year.

In [12]:
def cleanDatesMoMa(date):
    if '-' in date:
        splitted = date.split('-')
        date = ' '.join(splitted) 
    if '/' in date:
        splitted = date.split('/')
        date = ' '.join(splitted) 
    if ',' in date:
        splitted = date.split(',')
        date = ' '.join(splitted) 
    if '.' in date:
        splitted = date.split('.')
        date = ' '.join(splitted) 
        
    x = re.search("\d{4}", date)
    if x:
        date = x.group()
    else:
        date = '0'
    return date

In [13]:
MoMa["Date"] = MoMa["Date"].astype(str)
MoMa["Date"] = MoMa["Date"].apply(cleanDatesMoMa)

## Tate

Let's get rid of nan values and strings:

In [19]:
Tate.fillna(value='0', inplace=True)
Tate['Date'].replace(to_replace='no date', value='0', inplace= True)
Tate['Date'].replace(to_replace='c', value='0', inplace= True)

Clean Tate Acquisition and Artworks' Dates: they are on the form YYYY.0. We want an integer.

In [20]:
def cleanDatesTate(date):
    if '.' in date:
        date = date.split('.')[0] 
    return date

In [21]:
Tate["Date"] = Tate["Date"].astype(str)
Tate["Date"] = Tate["Date"].apply(cleanDatesTate)

Tate["DateAcquired"] = Tate["DateAcquired"].astype(str)
Tate["DateAcquired"] = Tate["DateAcquired"].apply(cleanDatesTate)

# Exploration

## How many artworks?

In [22]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    selected_rows = museum[~museum['Title'].isnull()]
    name = names.pop(0)
    print("Total artworks at", name, ":", len(selected_rows.index))

Total artworks at Moma : 140848
Total artworks at Tate : 69201

## When do artworks date back?

In [23]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    museum["Date"] = museum["Date"].astype(int)
    museum.sort_values(by=['Date'], inplace=True)
    museumWithoutZeros = museum[museum['Date'] != 0]
    firstDate = museumWithoutZeros['Date'].iat[0]
    lastDate = museumWithoutZeros['Date'].iat[-1]
    name = names.pop(0)
    print("Most ancient artwork at", name, "dates back to",firstDate )
    print("Most receny artwork at", name, "dates back to",lastDate )

Most ancient artwork at Moma dates back to 1768
Most receny artwork at Moma dates back to 2022
Most ancient artwork at Tate dates back to 1545
Most receny artwork at Tate dates back to 2012

## When were artworks acquired?

In [24]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    museum["DateAcquired"] = museum["DateAcquired"].astype(int)
    museum.sort_values(by=['DateAcquired'], inplace=True)
    museumWithoutZeros = museum[museum['DateAcquired'] != 0]
    firstDate = museumWithoutZeros['DateAcquired'].iat[0]
    lastDate = museumWithoutZeros['Date'].iat[-1]
    name = names.pop(0)
    print("Most ancient artwork at", name, "dates back to",firstDate )
    print("Most receny artwork at", name, "dates back to",lastDate )

Most ancient artwork at Moma dates back to 1929
Most receny artwork at Moma dates back to 2022
Most ancient artwork at Tate dates back to 1823
Most receny artwork at Tate dates back to 2012

## Artists

For examining artist-related issues, we will rely on the specific csvs from the museums, whoch we already transformed into dataframes.

### How many artists?

print('Total number of artists at MoMa', len(MoMaArtists))

In [25]:
print('Total number of artists at Tate', len(TateArtists))

Total number of artists at Tate 3532

### What is the most represented gender?

In [26]:
TateArtists['gender'].value_counts()

Male      2895
Female     521
Name: gender, dtype: int64

In [27]:
MoMaArtists['Gender'].value_counts()

Male          9715
Female        2342
male            17
Non-Binary       2
female           1
Non-binary       1
Name: Gender, dtype: int64

### What are the most represented nationalities?

### Tate

Since artists' names are in the form 'Surname, Name', we use a function to normalise that as 'Name Surname'.

In [79]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from collections import defaultdict
from json import JSONDecodeError
from qwikidata.sparql import return_sparql_query_results # python library for working with sparql and linked data from WikiData
import time
from requests.exceptions import ChunkedEncodingError
import math
#from SPARQLWrapper import SPARQLWrapper, JSON # sparql query library
import ssl

In [92]:
def cleanArtistsNames(name):
    if ',' in name:
        name= name.split(',')
        name[0], name[1] = name[1], name[0]
        name = ' '.join(name)
    return name

In [98]:
TateArtists["name"] = TateArtists["name"].apply(cleanArtistsNames)

In [103]:
ReducedArtists = TateArtists[TateArtists['gender'].isna()]
ReducedArtists["name"] = ReducedArtists["name"].apply(cleanArtistsNames)

C:\Users\FRANCE~1\AppData\Local\Temp/ipykernel_16492/2939108634.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ReducedArtists["name"] = ReducedArtists["name"].apply(cleanArtistsNames)

,id,name,gender,dates,yearOfBirth,yearOfDeath,placeOfBirth,placeOfDeath,url
70,5221,Anonymous,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/anonymous-5221
84,657,Shusaku Arakawa,NaN,1936–2010,1936.0,2010.0,"Nagoya, Nihon","New York, United States",http://www.tate.org.uk/art/artists/shusaku-ara...
105,2202,born 1945; Mel Ramsden Art & Language (Michae...,NaN,NaN,1944.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/art-languag...
106,17138,born 1939; David Bainbridge Art & Language (T...,NaN,established 1967/1968,1967.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/art-languag...
107,668,born 1939; Michael Baldwin Art & Language (Te...,NaN,NaN,1939.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/art-languag...
...,...,...,...,...,...,...,...,...,...
3319,14825,Shelagh Wakely,NaN,1932–2011,1932.0,2011.0,NaN,NaN,http://www.tate.org.uk/art/artists/shelagh-wak...
3386,18071,Richard Westmacott,NaN,1775–1856,1775.0,1856.0,NaN,NaN,http://www.tate.org.uk/art/artists/richard-wes...
3495,11740,José Yalenti,NaN,1895–1967,1895.0,1967.0,NaN,NaN,http://www.tate.org.uk/art/artists/jose-yalent...
3509,15539,Marc Voge) Young-Hae Chang Heavy Industries (...,NaN,established 1996,1966.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/young-hae-c...
3522,13099,Jakub Julian Ziolkowski,NaN,born 1980,1980.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/jakub-julia...

In [122]:
artists_genders_from_ids = """
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {{
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )    
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "{}")  .
}}

"""

In [123]:
def find_artists_genders_from_ids(name):
    query = artists_genders_from_ids.format(name.strip())
    print(query)
    res = return_sparql_query_results(query_string=query)
    try:
        wdt_uri = res['results']['bindings'][0]['artist']['value']
    except (IndexError, KeyError):
        return ""
    return wdt_uri.split("/")[-1]

In [124]:
ReducedArtists["Artist Entity"] = ReducedArtists["name"].apply(find_artists_genders_from_ids)

PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Anonymous")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Shusaku Arakawa")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "born 1945; Mel Ramsden Art & Language (Michael Baldwin  born 1944)")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "born 1939; David Bainbridge Art & Language (Terry Atkinson  born 1941; Michael Baldwin  born 1945; Harold Hurrell  born")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "born 1939; Michael Baldwin Art & Language (Terry Atkinson  born 1945)")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Atlas Group")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "John Bacon")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Ruth Baehnisch")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Prof. Bernd Becher")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "A. Belloguet")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Nikolaj Bendix Skyum Larsen")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Caroline Bergvall")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Black Audio Film Collective (John Akomfrah; Reece Auguis; Edward George; Lina Gopaul; Avril Johnson; David Lawson; Trevo")  .
}



PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "L Booth")  .
}

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [125]:
pd.set_option('display.max_rows', None)
display(ReducedArtists)

,id,name,gender,dates,yearOfBirth,yearOfDeath,placeOfBirth,placeOfDeath,url,Artist Entity
70,5221,Anonymous,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/anonymous-5221,
84,657,Shusaku Arakawa,NaN,1936–2010,1936.0,2010.0,"Nagoya, Nihon","New York, United States",http://www.tate.org.uk/art/artists/shusaku-arakawa-657,Q478264
105,2202,born 1945; Mel Ramsden Art & Language (Michael Baldwin born 1944),NaN,NaN,1944.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/art-language-michael-baldwin-born-1945-mel-ramsden-born-1944-2202,
106,17138,born 1939; David Bainbridge Art & Language (Terry Atkinson born 1941; Michael Baldwin born 1945; Harold Hurrell born,NaN,established 1967/1968,1967.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/art-language-terry-atkinson-born-1939-david-bainbridge-born-1941-michael-baldwin-born-1945-17138,
107,668,born 1939; Michael Baldwin Art & Language (Terry Atkinson born 1945),NaN,NaN,1939.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/art-language-terry-atkinson-born-1939-michael-baldwin-born-1945-668,
120,7639,Atlas Group,NaN,established 1999,1999.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/atlas-group-7639,
142,18070,John Bacon,NaN,1740–1799,1740.0,1799.0,NaN,NaN,http://www.tate.org.uk/art/artists/john-bacon-18070,
145,12918,Ruth Baehnisch,NaN,1910–1997,1910.0,1997.0,NaN,NaN,http://www.tate.org.uk/art/artists/ruth-baehnisch-12918,
217,718,Prof. Bernd Becher,NaN,"1931–2007, born 1934",1931.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/bernd-becher-and-hilla-becher-718,
242,2618,A. Belloguet,NaN,19th century,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/a-belloguet-2618,
244,18264,Nikolaj Bendix Skyum Larsen,NaN,born 1971,1971.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/nikolaj-bendix-skyum-larsen-18264,
255,18242,Caroline Bergvall,NaN,born 1962,1962.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/caroline-bergvall-18242,
285,9260,Black Audio Film Collective (John Akomfrah; Reece Auguis; Edward George; Lina Gopaul; Avril Johnson; David Lawson; Trevo,NaN,1982–98 born 1958; born 1958; born1963; born 1959; born 1958; born 1962; born 1960,1958.0,1998.0,NaN,NaN,http://www.tate.org.uk/art/artists/black-audio-film-collective-john-akomfrah-reece-auguis-edward-george-lina-gopaul-avril-9260,
327,13195,L Booth,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/l-booth-13195,
354,795,Fionnuala and Leslie Boyd and Evans,NaN,"born 1944, born 1945",1944.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/boyd-and-evans-fionnuala-boyd-leslie-evans-795,
393,2638,British (?) School,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/british-school-2638,
394,61,British (?) School 19th century,NaN,1800–1899,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/british-school-19th-century-61,
395,56,British School 16th century,NaN,1500–1599,1500.0,1599.0,NaN,NaN,http://www.tate.org.uk/art/artists/british-school-16th-century-56,
396,57,British School 17th century,NaN,1600–1699,1600.0,1699.0,NaN,NaN,http://www.tate.org.uk/art/artists/british-school-17th-century-57,
397,58,British School 17th or 18th century,NaN,1600–1799,1600.0,1799.0,NaN,NaN,http://www.tate.org.uk/art/artists/british-school-17th-or-18th-century-58,
398,59,British School 18th century,NaN,1700–1799,1700.0,1799.0,NaN,NaN,http://www.tate.org.uk/art/artists/british-school-18th-century-59,
399,60,British School 19th century,NaN,1800–1899,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/british-school-19th-century-60,
400,2548,British School 20th century,NaN,1900–1999,1900.0,1999.0,NaN,NaN,http://www.tate.org.uk/art/artists/british-school-20th-century-2548,
411,10428,Christina Broom,NaN,1863–1939,1863.0,1939.0,NaN,NaN,http://www.tate.org.uk/art/artists/christina-broom-10428,
591,2743,Chinese School 18th century,NaN,1700–1799,1700.0,1799.0,NaN,NaN,http://www.tate.org.uk/art/artists/chinese-school-18th-century-2743,
684,3807,Samuel Cooper,NaN,1609–1672,1609.0,1672.0,NaN,NaN,http://www.tate.org.uk/art/artists/samuel-cooper-3807,
834,5669,Viktor Deni,NaN,1893–1946,1893.0,1946.0,NaN,NaN,http://www.tate.org.uk/art/artists/viktor-deni-5669,
897,13086,Juan Downey,NaN,1940–1993,1940.0,1993.0,NaN,NaN,http://www.tate.org.uk/art/artists/juan-downey-13086,
922,12074,Gaspard Dughet,NaN,1615–1675,1615.0,1675.0,NaN,NaN,http://www.tate.org.uk/art/artists/gaspard-dughet-12074,
979,14308,Eugenio Espinoza,NaN,born 1950,1950.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/eugenio-espinoza-14308,
1092,2330,French School 18th century,NaN,1700–1799,1700.0,1799.0,NaN,NaN,http://www.tate.org.uk/art/artists/french-school-18th-century-2330,
1093,2744,French School 19th century,NaN,1800–1899,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/french-school-19th-century-2744,
1153,2552,G.W. Gent,NaN,exhibited 1804–1822,1804.0,1822.0,NaN,NaN,http://www.tate.org.uk/art/artists/gw-gent-2552,Q105090888
1160,6642,Josif Gerasimovich,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/josif-gerasimovich-6642,
1207,6651,M. Glik,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/m-glik-6651,
1218,13568,Jack Goldstein,NaN,1945–2003,1945.0,2003.0,NaN,NaN,http://www.tate.org.uk/art/artists/jack-goldstein-13568,
1344,18244,Lawrence Abu Hamdan,NaN,born 1985,1985.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/lawrence-abu-hamdan-18244,
1440,3819,Stephen Herwijck,NaN,c.1530–1567,1530.0,1567.0,NaN,NaN,http://www.tate.org.uk/art/artists/stephen-van-herwijck-3819,
1448,2259,Highmore,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/highmore-family-2259,
1540,13334,Enrique Huerta,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/enrique-huerta-13334,
1583,1338,International Local (Sarah Charlesworth; Joseph Kosuth; Anthony McCall),NaN,"born 1945, born 1945, born 1946",1945.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/international-local-sarah-charlesworth-joseph-kosuth-anthony-mccall-1338,
1584,4561,Inventory,NaN,founded 1996,1996.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/inventory-4561,
1592,2345,Italian or German (?) School 17th century,NaN,1600–1699,1600.0,1699.0,NaN,NaN,http://www.tate.org.uk/art/artists/italian-or-german-school-17th-century-2345,
1593,5741,Sergei Ivanov,NaN,1885–1942,1885.0,1942.0,NaN,NaN,http://www.tate.org.uk/art/artists/sergei-ivanov-5741,
1672,3092,K.O.S.,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/kos-3092,
1679,18243,Amar Kanwar,NaN,born 1964,1964.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/amar-kanwar-18243,
1719,5676,Georgii Kibardin,NaN,1903–63,1903.0,1963.0,NaN,NaN,http://www.tate.org.uk/art/artists/georgii-kibardin-5676,
1760,17121,Nikolai Kochergin,NaN,1897 – 1974,1897.0,1974.0,NaN,NaN,http://www.tate.org.uk/art/artists/nikolai-kochergin-17121,
1762,5645,Nikolai Kogout,NaN,1891–1959,1891.0,1959.0,NaN,NaN,http://www.tate.org.uk/art/artists/nikolai-kogout-5645,
1771,14424,Kiyohiko Komura,NaN,1899–1969,1899.0,1969.0,NaN,NaN,http://www.tate.org.uk/art/artists/kiyohiko-komura-14424,Q64826662
1785,17127,Vladimir Kozlinsky,NaN,1891 – 1967,1891.0,1967.0,NaN,NaN,http://www.tate.org.uk/art/artists/vladimir-kozlinsky-17127,
1803,10957,KwieKulik,NaN,"born 1945, born 1947",1945.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/kwiekulik-przemyslaw-kwiek-zofia-kulik-10957,
1810,13736,Suzanne Lacy,NaN,born 1945,1945.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/suzanne-lacy-13736,
1815,2633,Lairesse,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/lairesse-2633,
1843,2599,Ben and Nikki Langlands and Bell,NaN,"born 1955, born 1959",1955.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/langlands-bell-ben-langlands-and-nikki-bell-2599,
1860,1474,Robin Laurie,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/robin-laurie-1474,
1876,17924,David Le Marchand,NaN,1674–1726,1674.0,1726.0,NaN,NaN,http://www.tate.org.uk/art/artists/david-le-marchand-17924,
1880,17197,Hubert Le Sueur,NaN,c.1590 – after 1658,1590.0,1658.0,NaN,NaN,http://www.tate.org.uk/art/artists/hubert-le-sueur-17197,
1889,5813,Alexander Lebedev,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/alexander-lebedev-5813,
1974,1138,London Gallery,NaN,"born ?, born 1948",1948.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/the-london-gallery-vaughan-grylls-nicholas-wegner-1138,
1997,1535,Lucy and Eegyudluk,NaN,"born c.1918, born c.1930",1918.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/lucy-and-eegyudluk-1535,
2000,16926,Len Lye,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/len-lye-16926,Q1288566
2001,9403,France) M/M (Paris,NaN,founded 1992,1992.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/mm-paris-france-9403,
2017,1542,Alex Mackay,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/alex-mackay-1542,
2083,2515,A Marsingall,NaN,19th century,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/a-marsingall-2515,
2091,2581,J. Martin of Canterbury,NaN,19th century,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/j-martin-of-canterbury-2581,
2107,2516,E. Masters,NaN,19th century,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/e-masters-2516,
2121,5672,Vladimir Mayakovsky,NaN,1893–1930,1893.0,1930.0,NaN,NaN,http://www.tate.org.uk/art/artists/vladimir-mayakovsky-5672,Q132964
2162,17135,Dmitrii Melnikov,NaN,1899 – 1962,1899.0,1962.0,NaN,NaN,http://www.tate.org.uk/art/artists/dmitrii-melnikov-17135,
2169,2538,Francis Merivale,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/francis-merivale-2538,
2238,5648,Dmitrii Moor,NaN,1883–1946,1883.0,1946.0,NaN,NaN,http://www.tate.org.uk/art/artists/dmitrii-moor-5648,
2246,2551,T. Moore,NaN,18th century,1700.0,1799.0,NaN,NaN,http://www.tate.org.uk/art/artists/t-moore-2551,
2253,2634,Morin,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/morin-2634,Q98674762
2378,10282,Melik Ohanian,NaN,born 1969,1969.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/melik-ohanian-10282,
2413,17008,James Orrock,NaN,1829–1913,1829.0,1913.0,NaN,NaN,http://www.tate.org.uk/art/artists/james-orrock-17008,
2443,18372,Sylvia Pankhurst,NaN,1882 – 1960,1882.0,1960.0,NaN,NaN,http://www.tate.org.uk/art/artists/sylvia-pankhurst-18372,
2471,18267,Pallavi Paul,NaN,born 1986,1986.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/pallavi-paul-18267,
2481,11736,Osmar Peçanha,NaN,born 1926,1926.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/osmar-pecanha-11736,
2526,5673,Sergei Ivanovich Pichugin,NaN,1881–1971,1881.0,1971.0,NaN,NaN,http://www.tate.org.uk/art/artists/sergei-ivanovich-pichugin-5673,
2541,11741,Paulo Pires,NaN,born 1928,1928.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/paulo-pires-11741,
2552,12600,Olivia Plender,NaN,born 1977,1977.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/olivia-plender-12600,
2558,1783,Anne and Patrick Poirier,NaN,"born 1942, born 1942",1942.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/anne-poirier-and-patrick-poirier-1783,
2613,15967,R. H. Quaytman,NaN,born 1961,1961.0,NaN,"Boston, United States",NaN,http://www.tate.org.uk/art/artists/r-h-quaytman-15967,
2648,18896,Hester Reeve,NaN,born 1965,1965.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/hester-reeve-18896,
2667,1830,Ingmar Reuter,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/ingmar-reuter-1830,
2708,13335,Emilio Rivera,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/emilio-rivera-13335,
2777,7965,Russian School,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/russian-school-7965,
2800,11737,Eduardo Salvatore,NaN,1914–2006,1914.0,2006.0,NaN,NaN,http://www.tate.org.uk/art/artists/eduardo-salvatore-11737,
2805,12947,Gunther Sander,NaN,1907– 1986,1907.0,1986.0,NaN,NaN,http://www.tate.org.uk/art/artists/gunther-sander-12947,
2870,18266,Mithu Sen,NaN,born 1971,1971.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/mithu-sen-18266,Q43136922
2938,2457,D. Skeaf,NaN,active 1803–1819,1803.0,1819.0,NaN,NaN,http://www.tate.org.uk/art/artists/d-skeaf-2457,
2973,2735,Stephanie Smith,NaN,"born 1968, born 1961",1961.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/stephanie-smith-2735,Q100391910
2995,13098,Monika Sosnowska,NaN,born 1972,1972.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/monika-sosnowska-13098,
3004,5888,Soviet School,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/soviet-school-5888,
3023,17224,William Staite-Murray,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/william-staite-murray-17224,
3043,5227,Haim Steinbach,NaN,born 1944,1944.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/haim-steinbach-5227,Q5639315
3068,5739,Adolf Strakhov-Braslavsky,NaN,1896–1979,1896.0,1979.0,NaN,NaN,http://www.tate.org.uk/art/artists/adolf-strakhov-braslavsky-5739,
3110,15133,Diane Andrews Hall born 1945 T R Uthco (Doug Hall born 1944 Jody Procter 1944-1998),NaN,established 1970,1970.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/t-r-uthco-doug-hall-born-1944-diane-andrews-hall-born-1945-jody-procter-1944-1998-15133,
3133,11739,Dalmo Teixeira Filho,NaN,1923–1981,1923.0,1981.0,NaN,NaN,http://www.tate.org.uk/art/artists/dalmo-teixeira-filho-11739,
3139,16241,1939-1993; Mel Ramsden Art & Language (Ian Burn born 1944),NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/art-language-ian-burn-1939-1993-mel-ramsden-born-1944-16241,
3154,2536,W. Thomson,NaN,active 1826,1826.0,1826.0,NaN,NaN,http://www.tate.org.uk/art/artists/w-thomson-2536,
3182,2537,Tollemache,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/tollemache-2537,
3192,17656,Léonard Cosme Totchemetcheho,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/totche-17656,
3230,2541,M. Turton,NaN,19th century ?,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/m-turton-2541,
3249,12965,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/unknown-12965,
3257,17134,V.Ch.K.,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/vchk-17134,
3261,17036,Adolphe Valette,NaN,1876 – 1942,1876.0,1942.0,NaN,NaN,http://www.tate.org.uk/art/artists/adolphe-valette-17036,
3275,17129,Vara,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/vara-17129,
3301,2107,Dee Villers,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/dee-villers-2107,
3305,17732,Francis Vivares,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/francis-vivares-17732,
3317,11825,Imke Wagener,NaN,born 1971,1971.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/imke-wagener-11825,
3319,14825,Shelagh Wakely,NaN,1932–2011,1932.0,2011.0,NaN,NaN,http://www.tate.org.uk/art/artists/shelagh-wakely-14825,
3386,18071,Richard Westmacott,NaN,1775–1856,1775.0,1856.0,NaN,NaN,http://www.tate.org.uk/art/artists/richard-westmacott-18071,
3495,11740,José Yalenti,NaN,1895–1967,1895.0,1967.0,NaN,NaN,http://www.tate.org.uk/art/artists/jose-yalenti-11740,
3509,15539,Marc Voge) Young-Hae Chang Heavy Industries (Young-Hae Chang,NaN,established 1996,1966.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/young-hae-chang-heavy-industries-young-hae-chang-marc-voge-15539,
3522,13099,Jakub Julian Ziolkowski,NaN,born 1980,1980.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/jakub-julian-ziolkowski-13099,

In [ ]:
from rdflib import Namespace , Literal , URIRef
from rdflib.namespace import RDF , RDFS
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl
import rdflib

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

artistsNames = TateArtists["name"].isna().values
artistsSlot = artistsIds[:5]
artists = "leonardo" #' '.join(artistsSlot) ['roberto giovanni luca']

artists_genders_from_ids = """
SELECT DISTINCT ?artist

WHERE {{
    ?artist wdt:P31 wd:Q5 ;
            wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )   
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = """+artists+""").
}}

"""

# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(artists_genders_from_ids)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()
print(results)

# manipulate the result
for result in results["results"]["bindings"]:
    artists_id =  result["artist"]["value"]
    print(artists_id)

In [ ]:
searchWiki(0, TateArtists)

### MoMa

In [126]:
pd.set_option("display.max_rows", None)
MoMaArtists['Nationality'].value_counts()

American               5181
German                  965
British                 860
French                  847
Italian                 536
Japanese                507
Swiss                   297
Dutch                   274
Russian                 262
Austrian                239
Canadian                189
Brazilian               167
Nationality unknown     161
Spanish                 157
Argentine               142
Mexican                 135
Polish                  131
Swedish                 128
Danish                  121
Chinese                 101
Belgian                  96
Czech                    78
Israeli                  75
Chilean                  70
South African            67
Cuban                    64
Venezuelan               62
Finnish                  62
Australian               55
Colombian                54
Hungarian                53
Norwegian                49
Peruvian                 39
Indian                   39
Croatian                 34
Korean                   31
Irish                    24
Uruguayan                23
Turkish                  20
Scottish                 20
Romanian                 19
Slovenian                17
Haitian                  17
Serbian                  16
New Zealander            16
Ukrainian                13
Icelandic                12
Greek                    11
Egyptian                 11
Iranian                  11
Portuguese               10
Native American          10
Lebanese                  9
Slovak                    8
Guatemalan                7
Puerto Rican              7
Georgian                  6
Bosnian                   6
Moroccan                  6
Congolese                 6
Nigerian                  6
Zimbabwean                5
Bulgarian                 5
Czechoslovakian           5
Taiwanese                 5
Vietnamese                5
Palestinian               4
Macedonian                4
Ecuadorian                4
Pakistani                 4
Latvian                   3
Bolivian                  3
Albanian                  3
Ghanaian                  3
Filipino                  3
Malian                    3
Welsh                     3
Lithuanian                3
Algerian                  3
Luxembourger              3
Canadian Inuit            3
Estonian                  3
Kyrgyz                    2
Cameroonian               2
Salvadoran                2
Nicaraguan                2
Ethiopian                 2
Paraguayan                2
Malaysian                 2
Namibian                  2
Sudanese                  2
Senegalese                2
Thai                      2
Azerbaijani               2
Singaporean               2
Emirati                   2
Tunisian                  2
Panamanian                2
Costa Rican               2
Iraqi                     2
Ivorian                   1
Tanzanian                 1
Mozambican                1
Cypriot                   1
Yugoslav                  1
Ugandan                   1
Sahrawi                   1
Afghan                    1
Bangladeshi               1
Beninese                  1
Cambodian                 1
Sierra Leonean            1
Kenyan                    1
Bahamian                  1
Burkinabé                 1
Kuwaiti                   1
Catalan                   1
Persian                   1
Coptic                    1
Name: Nationality, dtype: int64

# Acquisition criteria.

1.  In which years are artists' works mostly acquired?

## Year by year

In [45]:
MoMa['DateAcquired'].value_counts()

1964    12828
2008     7204
1968     6894
0        6682
2001     4170
        ...
1933       93
1932       18
1929        9
1930        7
1931        3
Name: DateAcquired, Length: 95, dtype: int64

In [46]:
Tate['DateAcquired'].value_counts()

1856    37893
1997     3706
1975     3046
2009     1364
1979     1166
        ...
1873        1
1843        1
1863        1
1842        1
1855        1
Name: DateAcquired, Length: 179, dtype: int64

Let us analyse acquisitions from a larger perspective: not year by year, but for every ten years.

In [48]:
MoMa.to_csv('MoMa.csv')
with open('MoMa.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    years={}
    for item in reader:
        if item['DateAcquired']not in years:
            years[item['DateAcquired']]= 1
        else:
            years[item['DateAcquired']]+= 1
new_dict={}
for key in years:
    key_int=int(key)
    if key_int in range(1928,1941):
        if '1930s' not in new_dict.keys():
               new_dict['1930s']= years[key]
        else:
            new_dict['1930s'] += years[key]
    if key_int in range(1940,1951):
        if '1940s' not in new_dict.keys():
               new_dict['1940s']= years[key]
        else:
            new_dict['1940s'] += years[key]
    
    if key_int in range(1950,1961):
        if '1950s' not in new_dict.keys():
               new_dict['1950s']= years[key]
        else:
            new_dict['1950s'] += years[key]
    
    if key_int in range(1960,1971):
        if '1960s' not in new_dict.keys():
               new_dict['1960s']= years[key]
        else:
            new_dict['1960s'] += years[key]
    
    if key_int in range(1970,1981):
        if '1970s' not in new_dict.keys():
               new_dict['1970s']= years[key]
        else:
            new_dict['1970s'] += years[key]
    if key_int in range(1980,1991):
        if '1980s' not in new_dict.keys():
               new_dict['1980s']= years[key]
        else:
            new_dict['1980s'] += years[key]
    
    if key_int in range(1990,2001):
        if '1990s' not in new_dict.keys():
               new_dict['1990s']= years[key]
        else:
            new_dict['1990s'] += years[key]
        
    
print('Moma:', new_dict)

Moma: {'1930s': 3318, '1940s': 8274, '1950s': 6846, '1960s': 31950, '1970s': 13868, '1980s': 11497, '1990s': 13332}

In [49]:
Tate.to_csv('Tate.csv')
with open('Tate.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    years={}
    for item in reader:
        if item['DateAcquired']not in years:
            years[item['DateAcquired']]= 1
        else:
            years[item['DateAcquired']]+= 1
new_dict={}
for key in years:
    key_int=int(key)
    if key_int in range(1928,1941):
        if '1930s' not in new_dict.keys():
               new_dict['1930s']= years[key]
        else:
            new_dict['1930s'] += years[key]
    if key_int in range(1940,1951):
        if '1940s' not in new_dict.keys():
               new_dict['1940s']= years[key]
        else:
            new_dict['1940s'] += years[key]
    
    if key_int in range(1950,1961):
        if '1950s' not in new_dict.keys():
               new_dict['1950s']= years[key]
        else:
            new_dict['1950s'] += years[key]
    
    if key_int in range(1960,1971):
        if '1960s' not in new_dict.keys():
               new_dict['1960s']= years[key]
        else:
            new_dict['1960s'] += years[key]
    
    if key_int in range(1970,1981):
        if '1970s' not in new_dict.keys():
               new_dict['1970s']= years[key]
        else:
            new_dict['1970s'] += years[key]
    if key_int in range(1980,1991):
        if '1980s' not in new_dict.keys():
               new_dict['1980s']= years[key]
        else:
            new_dict['1980s'] += years[key]
    
    if key_int in range(1990,2001):
        if '1990s' not in new_dict.keys():
               new_dict['1990s']= years[key]
        else:
            new_dict['1990s'] += years[key]
        
    
print('Tate:', new_dict)

Tate: {'1930s': 788, '1940s': 776, '1950s': 633, '1960s': 1048, '1970s': 6853, '1980s': 5538, '1990s': 6693}

## Gender Gap <br>
Does it decrease?
When?

In [65]:
with open('MoMa.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    gender={'1930s': {'Male': 0, 'Female': 0}, '1940s': {'Male': 0, 'Female': 0}, '1950s': {'Male': 0, 'Female': 0}, '1960s': {'Male': 0, 'Female': 0}, '1970s': {'Male': 0, 'Female': 0}, '1980s': {'Male': 0, 'Female': 0}, '1990s': {'Male': 0, 'Female': 0}}
    for item in reader:
        if int(item['DateAcquired']) in range (1928,1941):
            if (item['Gender'] == '(Female)'): 
                gender['1930s']['Female'] += 1
            else:
                gender['1930s']['Male'] += 1
        if int(item['DateAcquired']) in range (1940,1951):
            if (item['Gender'] == '(Female)'): 
                gender['1940s']['Female'] += 1
            else:
                gender['1940s']['Male'] += 1
        if int(item['DateAcquired']) in range (1950,1961):
            if (item['Gender'] == '(Female)'): 
                gender['1950s']['Female'] += 1
            else:
                gender['1950s']['Male'] += 1
        if int(item['DateAcquired']) in range (1960,1971):
            if (item['Gender'] == '(Female)'): 
                gender['1960s']['Female'] += 1
            else:
                gender['1960s']['Male'] += 1
        if int(item['DateAcquired']) in range (1970,1981):
            if (item['Gender'] == '(Female)'): 
                gender['1970s']['Female'] += 1
            else:
                gender['1970s']['Male'] += 1
        if int(item['DateAcquired']) in range (1980,1991):
            if (item['Gender'] == '(Female)'): 
                gender['1980s']['Female'] += 1
            else:
                gender['1980s']['Male'] += 1
        if int(item['DateAcquired']) in range (1990,2001):
            if (item['Gender'] == '(Female)'): 
                gender['1990s']['Female'] += 1
            else:
                gender['1990s']['Male'] += 1
    print(gender)

{'1930s': {'Male': 3082, 'Female': 236}, '1940s': {'Male': 7707, 'Female': 567}, '1950s': {'Male': 6476, 'Female': 370}, '1960s': {'Male': 30701, 'Female': 1249}, '1970s': {'Male': 12245, 'Female': 1623}, '1980s': {'Male': 10230, 'Female': 1267}, '1990s': {'Male': 10522, 'Female': 2810}}

Percentage: Male / Male + Female *2

In [73]:
for el in gender:
    tot = gender[el]['Male'] + gender[el]['Female']
    percentage = (gender[el]['Male']/tot)*100
    print (el, 'Male', round(percentage),'%', 'Female', round(100-percentage),'%')

1930s Male 93 % Female 7 %
1940s Male 93 % Female 7 %
1950s Male 95 % Female 5 %
1960s Male 96 % Female 4 %
1970s Male 88 % Female 12 %
1980s Male 89 % Female 11 %
1990s Male 79 % Female 21 %

In [77]:
with open('Tate.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    gender={'1930s': {'Male': 0, 'Female': 0}, '1940s': {'Male': 0, 'Female': 0}, '1950s': {'Male': 0, 'Female': 0}, '1960s': {'Male': 0, 'Female': 0}, '1970s': {'Male': 0, 'Female': 0}, '1980s': {'Male': 0, 'Female': 0}, '1990s': {'Male': 0, 'Female': 0}
    for item in reader:
        if int(item['DateAcquired']) in range (1928,1941):
            if (item['Gender'] == 'Female'): 
                gender['1930s']['Female'] += 1
            else:
                gender['1930s']['Male'] += 1
        if int(item['DateAcquired']) in range (1940,1951):
            if (item['Gender'] == 'Female'): 
                gender['1940s']['Female'] += 1
            else:
                gender['1940s']['Male'] += 1
        if int(item['DateAcquired']) in range (1950,1961):
            if (item['Gender'] == 'Female'): 
                gender['1950s']['Female'] += 1
            else:
                gender['1950s']['Male'] += 1
        if int(item['DateAcquired']) in range (1960,1971):
            if (item['Gender'] == 'Female'): 
                gender['1960s']['Female'] += 1
            else:
                gender['1960s']['Male'] += 1
        if int(item['DateAcquired']) in range (1970,1981):
            if (item['Gender'] == 'Female'): 
                gender['1970s']['Female'] += 1
            else:
                gender['1970s']['Male'] += 1
        if int(item['DateAcquired']) in range (1980,1991):
            if (item['Gender'] == 'Female'): 
                gender['1980s']['Female'] += 1
            else:
                gender['1980s']['Male'] += 1
        if int(item['DateAcquired']) in range (1990,2001):
            if (item['Gender'] == 'Female'): 
                gender['1990s']['Female'] += 1
            else:
                gender['1990s']['Male'] += 1
    print(gender)

{'1930s': {'Male': 722, 'Female': 66}, '1940s': {'Male': 700, 'Female': 76}, '1950s': {'Male': 598, 'Female': 35}, '1960s': {'Male': 967, 'Female': 81}, '1970s': {'Male': 6398, 'Female': 455}, '1980s': {'Male': 5202, 'Female': 336}, '1990s': {'Male': 6025, 'Female': 668}}

In [78]:
for el in gender:
    tot = gender[el]['Male'] + gender[el]['Female']
    percentage = (gender[el]['Male']/tot)*100
    print (el, 'Male', round(percentage),'%', 'Female', round(100-percentage),'%')

1930s Male 92 % Female 8 %
1940s Male 90 % Female 10 %
1950s Male 94 % Female 6 %
1960s Male 92 % Female 8 %
1970s Male 93 % Female 7 %
1980s Male 94 % Female 6 %
1990s Male 90 % Female 10 %

In [ ]:
T