In [1]:
import pandas as pd
import csv
import re

# MoMa

In [3]:
spreadsheet = pd.read_csv('https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artworks.csv')
pd.set_option('display.max_columns', None)
MoMaArtworks = spreadsheet[['Title', 'Artist', 'ConstituentID', 'Nationality', 'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'CreditLine', 'Classification', 'Department', 'DateAcquired', 'URL']]
MoMaArtists = pd.read_csv('https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artists.csv')
MoMaArtists["ConstituentID"] = MoMaArtists["ConstituentID"].astype(str)
MoMa = pd.merge(MoMaArtworks,MoMaArtists[['ConstituentID', 'Wiki QID']],on='ConstituentID', how='left')
MoMa.rename(columns = {'ConstituentID':'Id', 'BeginDate':'BirthDate', 'EndDate':'DeathDate'}, inplace = True)

# Tate

In [79]:
spreadsheet = pd.read_csv('https://raw.githubusercontent.com/tategallery/collection/master/artwork_data.csv')
pd.set_option('display.max_columns', None)
TateArtworks = spreadsheet[['artist', 'artistId', 'title', 'medium', 'creditLine', 'year', 'acquisitionYear', 'url']]
TateArtworks.rename(columns = {'artistId':'id'}, inplace = True)
TateArtworks.id = TateArtworks.id.astype(str)
TateArtists = pd.read_csv('https://raw.githubusercontent.com/tategallery/collection/master/artist_data.csv')
TateArtists["id"] = TateArtists["id"].astype(str)
Tate = pd.merge(TateArtworks,TateArtists[['id', 'gender', 'yearOfBirth', 'yearOfDeath']], on='id', how='left')
Tate.rename(columns = {'artist':'Artist', 'id':'Id', 'title':'Title', 'yearOfBirth':'BirthDate', 'yearOfDeath':'DeathDate', 'medium':'Medium', 'creditLine':'CreditLine', 'year':'Date', 'acquisitionYear':'DateAcquired', 'url':'URL', 'gender':'Gender'}, inplace = True)

C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\pandas\core\frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\pandas\core\generic.py:5489: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

# Cleaning up

## MoMa

Let's get rid of nan values:

In [5]:
MoMa.fillna(value='0', inplace=True)

Clean MoMa Acquisition Dates: they are on the form YYYY-MM-DD. We just want the YYYY as an int.

In [6]:
def cleanAcquisitionDatesMoMa(date):
    if '-' in date:
        date = date.split('-')[0]
    return date

In [7]:
MoMa["DateAcquired"] = MoMa["DateAcquired"].apply(cleanAcquisitionDatesMoMa)

Clean MoMa Artworks' Dates. <br>
Indeed, they are in some unclear forms, such as:<br>
(1950).  (Prints executed 1948<br>
(1883, published 1897)<br>
(1911, dated 1912, published c. 1917)<br>
(April 9 and August 31, 1971)<br>
(April 23) 1968<br>
(journals published October 2003 through June 2004)<br>

We just need the year.

In [8]:
def cleanDatesMoMa(date):
    if '-' in date:
        splitted = date.split('-')
        date = ' '.join(splitted) 
    if '/' in date:
        splitted = date.split('/')
        date = ' '.join(splitted) 
    if ',' in date:
        splitted = date.split(',')
        date = ' '.join(splitted) 
    if '.' in date:
        splitted = date.split('.')
        date = ' '.join(splitted) 
        
    x = re.search("\d{4}", date)
    if x:
        date = x.group()
    else:
        date = '0'
    return date

In [9]:
MoMa["Date"] = MoMa["Date"].astype(str)
MoMa["Date"] = MoMa["Date"].apply(cleanDatesMoMa)

## Tate

Let's get rid of nan values and strings:

In [15]:
Tate.fillna(value='0', inplace=True)
Tate['Date'].replace(to_replace='no date', value='0', inplace= True)
Tate['Date'].replace(to_replace='c', value='0', inplace= True)

Clean Tate Acquisition and Artworks' Dates: they are on the form YYYY.0. We want an integer.

In [11]:
def cleanDatesTate(date):
    if '.' in date:
        date = date.split('.')[0] 
    return date

In [12]:
Tate["Date"] = Tate["Date"].astype(str)
Tate["Date"] = Tate["Date"].apply(cleanDatesTate)

Tate["DateAcquired"] = Tate["DateAcquired"].astype(str)
Tate["DateAcquired"] = Tate["DateAcquired"].apply(cleanDatesTate)

# Exploration

## How many artworks?

In [13]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    selected_rows = museum[~museum['Title'].isnull()]
    name = names.pop(0)
    print("Total artworks at", name, ":", len(selected_rows.index))

Total artworks at Moma : 140848
Total artworks at Tate : 69201

## When do artworks date back?

In [16]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    museum["Date"] = museum["Date"].astype(int)
    museum.sort_values(by=['Date'], inplace=True)
    museumWithoutZeros = museum[museum['Date'] != 0]
    firstDate = museumWithoutZeros['Date'].iat[0]
    lastDate = museumWithoutZeros['Date'].iat[-1]
    name = names.pop(0)
    print("Most ancient artwork at", name, "dates back to",firstDate )
    print("Most receny artwork at", name, "dates back to",lastDate )

Most ancient artwork at Moma dates back to 1768
Most receny artwork at Moma dates back to 2022
Most ancient artwork at Tate dates back to 1545
Most receny artwork at Tate dates back to 2012

## When were artworks acquired?

In [17]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    museum["DateAcquired"] = museum["DateAcquired"].astype(int)
    museum.sort_values(by=['DateAcquired'], inplace=True)
    museumWithoutZeros = museum[museum['DateAcquired'] != 0]
    firstDate = museumWithoutZeros['DateAcquired'].iat[0]
    lastDate = museumWithoutZeros['Date'].iat[-1]
    name = names.pop(0)
    print("Most ancient artwork at", name, "dates back to",firstDate )
    print("Most receny artwork at", name, "dates back to",lastDate )

Most ancient artwork at Moma dates back to 1929
Most receny artwork at Moma dates back to 2022
Most ancient artwork at Tate dates back to 1823
Most receny artwork at Tate dates back to 2012

## Artists

For examining artist-related issues, we will rely on the specific csvs from the museums, whoch we already transformed into dataframes.

### How many artists?

print('Total number of artists at MoMa', len(MoMaArtists))

In [18]:
print('Total number of artists at Tate', len(TateArtists))

Total number of artists at Tate 3532

### What is the most represented gender?

In [19]:
TateArtists['gender'].value_counts()

Male      2895
Female     521
Name: gender, dtype: int64

In [20]:
MoMaArtists['Gender'].value_counts()

Male          9715
Female        2342
male            17
Non-Binary       2
female           1
Non-binary       1
Name: Gender, dtype: int64

### What are the most represented nationalities?

### Tate

Since artists' names are in the form 'Surname, Name', we use a function to normalise that as 'Name Surname'.

In [ ]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from collections import defaultdict
from json import JSONDecodeError
from qwikidata.sparql import return_sparql_query_results # python library for working with sparql and linked data from WikiData
import time
from requests.exceptions import ChunkedEncodingError
import math
#from SPARQLWrapper import SPARQLWrapper, JSON # sparql query library
import ssl

In [81]:
ReducedArtists = TateArtists[TateArtists['gender'].isna()]
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Anonymous']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Art & Language (Michael Baldwin, born 1945; Mel Ramsden, born 1944)']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Art & Language (Terry Atkinson, born 1939; David Bainbridge, born 1941; Michael Baldwin, born 1945; Harold Hurrell, born']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Art & Language (Terry Atkinson, born 1939; Michael Baldwin, born 1945)']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Atlas Group']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Becher, Prof. Bernd']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Black Audio Film Collective (John Akomfrah; Reece Auguis; Edward George; Lina Gopaul; Avril Johnson; David Lawson; Trevo']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Booth, L']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Boyd and Evans, Fionnuala and Leslie']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'British (?) School']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'British (?) School 19th century']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'British School 17th century']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'British School 16th century']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'British School 17th or 18th century']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'British School 18th century']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'British School 19th century']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'British School 20th century']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Chinese School 18th century']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'French School 18th century']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'French School 19th century']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Gent, G.W.']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Glik, M.']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'International Local (Sarah Charlesworth; Joseph Kosuth; Anthony McCall)']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Italian or German (?) School 17th century']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Langlands and Bell, Ben and Nikki']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Italian or German (?) School 17th century']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Langlands and Bell, Ben and Nikki']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Lucy and Eegyudluk']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'M/M (Paris, France)']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Moore, T.']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Skeaf, D.']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'T R Uthco (Doug Hall born 1944, Diane Andrews Hall born 1945, Jody Procter 1944-1998)']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Art & Language (Ian Burn, 1939-1993; Mel Ramsden, born 1944)']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Thomson, W.']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Turton, M.']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Unknown']
ReducedArtists = ReducedArtists[ReducedArtists['name'] != 'Young-Hae Chang Heavy Industries (Young-Hae Chang, Marc Voge)']

In [ ]:
def cleanArtistsNames(name):
    if ',' in name:
        name= name.split(',')
        name[0], name[1] = name[1], name[0]
        name = ' '.join(name)
    return name

In [87]:
ReducedArtists["name"] = ReducedArtists["name"].apply(cleanArtistsNames)
display(ReducedArtists)

,id,name,gender,dates,yearOfBirth,yearOfDeath,placeOfBirth,placeOfDeath,url
84,657,Shusaku Arakawa,NaN,1936–2010,1936.0,2010.0,"Nagoya, Nihon","New York, United States",http://www.tate.org.uk/art/artists/shusaku-ara...
142,18070,John Bacon,NaN,1740–1799,1740.0,1799.0,NaN,NaN,http://www.tate.org.uk/art/artists/john-bacon-...
145,12918,Ruth Baehnisch,NaN,1910–1997,1910.0,1997.0,NaN,NaN,http://www.tate.org.uk/art/artists/ruth-baehni...
242,2618,A. Belloguet,NaN,19th century,1800.0,1899.0,NaN,NaN,http://www.tate.org.uk/art/artists/a-belloguet...
244,18264,Nikolaj Bendix Skyum Larsen,NaN,born 1971,1971.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/nikolaj-ben...
...,...,...,...,...,...,...,...,...,...
3317,11825,Imke Wagener,NaN,born 1971,1971.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/imke-wagene...
3319,14825,Shelagh Wakely,NaN,1932–2011,1932.0,2011.0,NaN,NaN,http://www.tate.org.uk/art/artists/shelagh-wak...
3386,18071,Richard Westmacott,NaN,1775–1856,1775.0,1856.0,NaN,NaN,http://www.tate.org.uk/art/artists/richard-wes...
3495,11740,José Yalenti,NaN,1895–1967,1895.0,1967.0,NaN,NaN,http://www.tate.org.uk/art/artists/jose-yalent...
3522,13099,Jakub Julian Ziolkowski,NaN,born 1980,1980.0,NaN,NaN,NaN,http://www.tate.org.uk/art/artists/jakub-julia...

In [88]:
artists_genders_from_ids = """
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {{
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )    
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "{}")  .
}}

"""

In [89]:
def find_artists_genders_from_ids(name):
    query = artists_genders_from_ids.format(name.strip())
    print(query)
    res = return_sparql_query_results(query_string=query)
    try:
        wdt_uri = res['results']['bindings'][0]['artist']['value']
    except (IndexError, KeyError):
        return ""
    return wdt_uri.split("/")[-1]

In [90]:
ReducedArtists["Artist Entity"] = ReducedArtists["name"].apply(find_artists_genders_from_ids)

PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?artist
WHERE {
    ?artist wdt:P31 wd:Q5 .
    ?artist wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Shusaku Arakawa")  .
}

NameError: name 'return_sparql_query_results' is not defined

In [ ]:
pd.set_option('display.max_rows', None)
display(ReducedArtists)

In [ ]:
from rdflib import Namespace , Literal , URIRef
from rdflib.namespace import RDF , RDFS
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl
import rdflib

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

artistsNames = TateArtists["name"].isna().values
artistsSlot = artistsIds[:5]
artists = "leonardo" #' '.join(artistsSlot) ['roberto giovanni luca']

artists_genders_from_ids = """
SELECT DISTINCT ?artist

WHERE {{
    ?artist wdt:P31 wd:Q5 ;
            wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )   
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = """+artists+""").
}}

"""

# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(artists_genders_from_ids)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()
print(results)

# manipulate the result
for result in results["results"]["bindings"]:
    artists_id =  result["artist"]["value"]
    print(artists_id)

In [ ]:
searchWiki(0, TateArtists)

### MoMa

In [28]:
MoMaArtists['Nationality'].value_counts()

American     5181
German        965
British       860
French        847
Italian       536
             ...
Catalan         1
Sahrawi         1
Cambodian       1
Coptic          1
Afghan          1
Name: Nationality, Length: 119, dtype: int64

# Acquisition criteria.

1.  In which years are artists' works mostly acquired?

## Year by year

In [29]:
MoMa['DateAcquired'].value_counts()

1964    12828
2008     7204
1968     6894
0        6682
2001     4170
        ...
1933       93
1932       18
1929        9
1930        7
1931        3
Name: DateAcquired, Length: 95, dtype: int64

In [30]:
Tate['DateAcquired'].value_counts()

1856    37893
1997     3706
1975     3046
2009     1364
1979     1166
        ...
1873        1
1843        1
1863        1
1842        1
1855        1
Name: DateAcquired, Length: 179, dtype: int64

Let us analyse acquisitions from a larger perspective: not year by year, but for every ten years.

In [31]:
MoMa.to_csv('MoMa.csv')
with open('MoMa.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    years={}
    for item in reader:
        if item['DateAcquired']not in years:
            years[item['DateAcquired']]= 1
        else:
            years[item['DateAcquired']]+= 1
new_dict={}
for key in years:
    key_int=int(key)
    if key_int in range(1928,1941):
        if '1930s' not in new_dict.keys():
               new_dict['1930s']= years[key]
        else:
            new_dict['1930s'] += years[key]
    if key_int in range(1940,1951):
        if '1940s' not in new_dict.keys():
               new_dict['1940s']= years[key]
        else:
            new_dict['1940s'] += years[key]
    
    if key_int in range(1950,1961):
        if '1950s' not in new_dict.keys():
               new_dict['1950s']= years[key]
        else:
            new_dict['1950s'] += years[key]
    
    if key_int in range(1960,1971):
        if '1960s' not in new_dict.keys():
               new_dict['1960s']= years[key]
        else:
            new_dict['1960s'] += years[key]
    
    if key_int in range(1970,1981):
        if '1970s' not in new_dict.keys():
               new_dict['1970s']= years[key]
        else:
            new_dict['1970s'] += years[key]
    if key_int in range(1980,1991):
        if '1980s' not in new_dict.keys():
               new_dict['1980s']= years[key]
        else:
            new_dict['1980s'] += years[key]
    
    if key_int in range(1990,2001):
        if '1990s' not in new_dict.keys():
               new_dict['1990s']= years[key]
        else:
            new_dict['1990s'] += years[key]
        
    
print('Moma:', new_dict)

Moma: {'1930s': 3318, '1940s': 8274, '1950s': 6846, '1960s': 31950, '1970s': 13868, '1980s': 11497, '1990s': 13332}

In [32]:
Tate.to_csv('Tate.csv')
with open('Tate.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    years={}
    for item in reader:
        if item['DateAcquired']not in years:
            years[item['DateAcquired']]= 1
        else:
            years[item['DateAcquired']]+= 1
new_dict={}
for key in years:
    key_int=int(key)
    if key_int in range(1928,1941):
        if '1930s' not in new_dict.keys():
               new_dict['1930s']= years[key]
        else:
            new_dict['1930s'] += years[key]
    if key_int in range(1940,1951):
        if '1940s' not in new_dict.keys():
               new_dict['1940s']= years[key]
        else:
            new_dict['1940s'] += years[key]
    
    if key_int in range(1950,1961):
        if '1950s' not in new_dict.keys():
               new_dict['1950s']= years[key]
        else:
            new_dict['1950s'] += years[key]
    
    if key_int in range(1960,1971):
        if '1960s' not in new_dict.keys():
               new_dict['1960s']= years[key]
        else:
            new_dict['1960s'] += years[key]
    
    if key_int in range(1970,1981):
        if '1970s' not in new_dict.keys():
               new_dict['1970s']= years[key]
        else:
            new_dict['1970s'] += years[key]
    if key_int in range(1980,1991):
        if '1980s' not in new_dict.keys():
               new_dict['1980s']= years[key]
        else:
            new_dict['1980s'] += years[key]
    
    if key_int in range(1990,2001):
        if '1990s' not in new_dict.keys():
               new_dict['1990s']= years[key]
        else:
            new_dict['1990s'] += years[key]
        
    
print('Tate:', new_dict)

Tate: {'1930s': 788, '1940s': 776, '1950s': 633, '1960s': 1048, '1970s': 6853, '1980s': 5538, '1990s': 6693}

## Gender Gap <br>
Does it decrease?
When?

In [33]:
with open('MoMa.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    gender={'1930s': {'Male': 0, 'Female': 0}, '1940s': {'Male': 0, 'Female': 0}, '1950s': {'Male': 0, 'Female': 0}, '1960s': {'Male': 0, 'Female': 0}, '1970s': {'Male': 0, 'Female': 0}, '1980s': {'Male': 0, 'Female': 0}, '1990s': {'Male': 0, 'Female': 0}}
    for item in reader:
        if int(item['DateAcquired']) in range (1928,1941):
            if (item['Gender'] == '(Female)'): 
                gender['1930s']['Female'] += 1
            else:
                gender['1930s']['Male'] += 1
        if int(item['DateAcquired']) in range (1940,1951):
            if (item['Gender'] == '(Female)'): 
                gender['1940s']['Female'] += 1
            else:
                gender['1940s']['Male'] += 1
        if int(item['DateAcquired']) in range (1950,1961):
            if (item['Gender'] == '(Female)'): 
                gender['1950s']['Female'] += 1
            else:
                gender['1950s']['Male'] += 1
        if int(item['DateAcquired']) in range (1960,1971):
            if (item['Gender'] == '(Female)'): 
                gender['1960s']['Female'] += 1
            else:
                gender['1960s']['Male'] += 1
        if int(item['DateAcquired']) in range (1970,1981):
            if (item['Gender'] == '(Female)'): 
                gender['1970s']['Female'] += 1
            else:
                gender['1970s']['Male'] += 1
        if int(item['DateAcquired']) in range (1980,1991):
            if (item['Gender'] == '(Female)'): 
                gender['1980s']['Female'] += 1
            else:
                gender['1980s']['Male'] += 1
        if int(item['DateAcquired']) in range (1990,2001):
            if (item['Gender'] == '(Female)'): 
                gender['1990s']['Female'] += 1
            else:
                gender['1990s']['Male'] += 1
    print(gender)

{'1930s': {'Male': 3082, 'Female': 236}, '1940s': {'Male': 7707, 'Female': 567}, '1950s': {'Male': 6476, 'Female': 370}, '1960s': {'Male': 30701, 'Female': 1249}, '1970s': {'Male': 12245, 'Female': 1623}, '1980s': {'Male': 10230, 'Female': 1267}, '1990s': {'Male': 10522, 'Female': 2810}}

Percentage: Male / Male + Female *2

In [34]:
for el in gender:
    tot = gender[el]['Male'] + gender[el]['Female']
    percentage = (gender[el]['Male']/tot)*100
    print (el, 'Male', round(percentage),'%', 'Female', round(100-percentage),'%')

1930s Male 93 % Female 7 %
1940s Male 93 % Female 7 %
1950s Male 95 % Female 5 %
1960s Male 96 % Female 4 %
1970s Male 88 % Female 12 %
1980s Male 89 % Female 11 %
1990s Male 79 % Female 21 %

In [39]:
with open('Tate.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    gender={'1930s': {'Male': 0, 'Female': 0}, '1940s': {'Male': 0, 'Female': 0}, '1950s': {'Male': 0, 'Female': 0}, '1960s': {'Male': 0, 'Female': 0}, '1970s': {'Male': 0, 'Female': 0}, '1980s': {'Male': 0, 'Female': 0}, '1990s': {'Male': 0, 'Female': 0}}
    for item in reader:
        if int(item['DateAcquired']) in range (1928,1941):
            if (item['Gender'] == 'Female'): 
                gender['1930s']['Female'] += 1
            else:
                gender['1930s']['Male'] += 1
        if int(item['DateAcquired']) in range (1940,1951):
            if (item['Gender'] == 'Female'): 
                gender['1940s']['Female'] += 1
            else:
                gender['1940s']['Male'] += 1
        if int(item['DateAcquired']) in range (1950,1961):
            if (item['Gender'] == 'Female'): 
                gender['1950s']['Female'] += 1
            else:
                gender['1950s']['Male'] += 1
        if int(item['DateAcquired']) in range (1960,1971):
            if (item['Gender'] == 'Female'): 
                gender['1960s']['Female'] += 1
            else:
                gender['1960s']['Male'] += 1
        if int(item['DateAcquired']) in range (1970,1981):
            if (item['Gender'] == 'Female'): 
                gender['1970s']['Female'] += 1
            else:
                gender['1970s']['Male'] += 1
        if int(item['DateAcquired']) in range (1980,1991):
            if (item['Gender'] == 'Female'): 
                gender['1980s']['Female'] += 1
            else:
                gender['1980s']['Male'] += 1
        if int(item['DateAcquired']) in range (1990,2001):
            if (item['Gender'] == 'Female'): 
                gender['1990s']['Female'] += 1
            else:
                gender['1990s']['Male'] += 1
    print(gender)

{'1930s': {'Male': 722, 'Female': 66}, '1940s': {'Male': 700, 'Female': 76}, '1950s': {'Male': 598, 'Female': 35}, '1960s': {'Male': 967, 'Female': 81}, '1970s': {'Male': 6398, 'Female': 455}, '1980s': {'Male': 5202, 'Female': 336}, '1990s': {'Male': 6025, 'Female': 668}}

In [40]:
for el in gender:
    tot = gender[el]['Male'] + gender[el]['Female']
    percentage = (gender[el]['Male']/tot)*100
    print (el, 'Male', round(percentage),'%', 'Female', round(100-percentage),'%')

1930s Male 92 % Female 8 %
1940s Male 90 % Female 10 %
1950s Male 94 % Female 6 %
1960s Male 92 % Female 8 %
1970s Male 93 % Female 7 %
1980s Male 94 % Female 6 %
1990s Male 90 % Female 10 %

## Nationalities

In which years artists' nationalities more influent on the selection? Per ogni 10 anni, percentuale di nazionalità acquisite e differenza.

### MoMa

In [41]:
MoMaArtists.rename(columns = {'ConstituentID':'Id'}, inplace = True)

In [51]:
def cleanDates(date):
    if '.' in date:
        date = date.split('.')[0]
    return date

In [61]:
MoMaNationalities = pd.merge(MoMaArtists,MoMa[['Id', 'DateAcquired']],on='Id', how='left')
MoMaNationalities.fillna(value='0', inplace=True)
MoMaNationalities["DateAcquired"] = MoMaNationalities["DateAcquired"].astype(str)
MoMaNationalities["DateAcquired"] = MoMaNationalities["DateAcquired"].apply(cleanDates)
MoMaNationalities = MoMaNationalities.drop_duplicates(subset='DisplayName', keep="first")
MoMaNationalities.to_csv('MoMaNationalities.csv')

In [62]:
from collections import defaultdict 

with open('MoMaNationalities.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    nationalities = defaultdict(dict)
    for item in reader:
        if int(item['DateAcquired']) in range (1928,1941):
            if item['Nationality'] not in nationalities['1930s']:
                nationalities['1930s'][item['Nationality']] = 1
            else:
                nationalities['1930s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1940,1951):
            if item['Nationality'] not in nationalities['1940s']:
                nationalities['1940s'][item['Nationality']] = 1
            else:
                nationalities['1940s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1950,1961):
            if item['Nationality'] not in nationalities['1950s']:
                nationalities['1950s'][item['Nationality']] = 1
            else:
                nationalities['1950s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1960,1971):
            if item['Nationality'] not in nationalities['1960s']:
                nationalities['1960s'][item['Nationality']] = 1
            else:
                nationalities['1960s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1970,1981):
            if item['Nationality'] not in nationalities['1970s']:
                nationalities['1970s'][item['Nationality']] = 1
            else:
                nationalities['1970s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1980,1991):
            if item['Nationality'] not in nationalities['1980s']:
                nationalities['1980s'][item['Nationality']] = 1
            else:
                nationalities['1980s'][item['Nationality']] += 1
        if int(item['DateAcquired']) in range (1990,2001):
            if item['Nationality'] not in nationalities['1990s']:
                nationalities['1990s'][item['Nationality']] = 1
            else:
                nationalities['1990s'][item['Nationality']] += 1
        
                

print(nationalities)

defaultdict(<class 'dict'>, {'1980s': {'American': 615, 'Estonian': 2, 'Swedish': 12, 'Finnish': 7, 'Romanian': 2, 'French': 91, 'Dutch': 31, 'Norwegian': 4, 'Danish': 11, 'British': 91, 'Austrian': 23, 'Italian': 32, 'Japanese': 61, 'German': 100, 'Russian': 18, 'Spanish': 12, 'Congolese': 1, 'Brazilian': 2, 'Hungarian': 9, 'Polish': 19, 'Canadian': 34, 'Swiss': 47, 'Icelandic': 2, 'Australian': 6, 'Croatian': 3, 'Slovak': 1, 'Cuban': 4, 'Mexican': 9, 'Greek': 1, 'Chinese': 1, 'Belgian': 7, 'Native American': 2, 'Chilean': 2, 'Czech': 11, 'Nationality unknown': 5, 'Israeli': 7, 'Luxembourger': 1, 'Portuguese': 1, 'Peruvian': 3, 'Indian': 1, 'Haitian': 1, 'Moroccan': 1, '0': 14, 'Latvian': 2, 'Georgian': 1, 'Ukrainian': 2, 'Irish': 1, 'Colombian': 1, 'Puerto Rican': 1}, '1960s': {'Spanish': 20, '0': 14, 'Italian': 97, 'American': 641, 'French': 126, 'Japanese': 64, 'British': 76, 'Israeli': 11, 'Finnish': 4, 'Argentine': 40, 'Kuwaiti': 1, 'German': 142, 'Nationality unknown': 36, 'Chilean': 19, 'Swiss': 24, 'Czech': 7, 'Danish': 13, 'Brazilian': 21, 'Canadian': 47, 'Swedish': 22, 'Russian': 29, 'Austrian': 20, 'Slovenian': 5, 'Portuguese': 1, 'Indian': 7, 'Romanian': 3, 'Colombian': 7, 'Dutch': 17, 'Uruguayan': 4, 'Polish': 31, 'Ukrainian': 1, 'Australian': 5, 'Belgian': 13, 'Peruvian': 11, 'Cuban': 3, 'Mexican': 13, 'Venezuelan': 8, 'Bolivian': 1, 'Greek': 4, 'Panamanian': 2, 'Croatian': 4, 'Turkish': 2, 'Icelandic': 3, 'Ecuadorian': 2, 'Iranian': 4, 'Hungarian': 4, 'Serbian': 3, 'Canadian Inuit': 3, 'Costa Rican': 1, 'Paraguayan': 1, 'Haitian': 1, 'Zimbabwean': 3, 'South African': 1, 'Moroccan': 2, 'Guatemalan': 1, 'Tanzanian': 1, 'Sudanese': 1, 'Taiwanese': 1, 'Ethiopian': 1, 'Irish': 1, 'Korean': 1, 'Chinese': 2}, '1970s': {'American': 586, 'Danish': 8, 'British': 75, 'French': 38, 'Polish': 6, 'Italian': 34, 'Romanian': 2, 'Russian': 28, 'Japanese': 63, 'Dutch': 23, 'Finnish': 2, 'Czech': 9, 'Australian': 10, 'Ukrainian': 2, 'German': 52, 'Israeli': 11, 'Canadian': 8, 'Brazilian': 3, 'Nationality unknown': 20, 'Irish': 2, 'Belgian': 9, 'Chilean': 2, 'Spanish': 9, 'Mexican': 9, 'Colombian': 13, 'Cuban': 3, 'Peruvian': 1, 'Turkish': 2, 'Greek': 3, 'Austrian': 11, 'Swedish': 2, 'Swiss': 15, 'Argentine': 1, 'South African': 1, 'Hungarian': 2, 'Norwegian': 1, 'Korean': 3, 'Slovenian': 4, 'Venezuelan': 10, '0': 3, 'Tunisian': 1, 'Paraguayan': 1, 'Uruguayan': 1, 'Icelandic': 1}, '1950s': {'American': 396, 'Swedish': 20, 'Israeli': 4, 'Japanese': 112, 'Guatemalan': 3, 'Italian': 54, 'Finnish': 11, 'German': 88, 'Belgian': 14, 'French': 155, '0': 16, 'Dutch': 28, 'British': 54, 'Austrian': 11, 'Swiss': 42, 'Hungarian': 3, 'Canadian': 12, 'Cuban': 4, 'Nationality unknown': 54, 'Spanish': 7, 'Brazilian': 14, 'Chilean': 4, 'Polish': 6, 'Mexican': 5, 'Uruguayan': 1, 'Slovenian': 2, 'Haitian': 1, 'Algerian': 1, 'Venezuelan': 3, 'Danish': 19, 'Canadian Inuit': 2, 'Russian': 4, 'Serbian': 2, 'Czech': 6, 'Korean': 2, 'Nicaraguan': 1, 'Turkish': 1, 'Australian': 3, 'Colombian': 2, 'Norwegian': 5, 'Tanzanian': 1, 'Irish': 2, 'Argentine': 3, 'Peruvian': 1, 'Icelandic': 1}, '1930s': {'French': 60, 'Spanish': 26, 'American': 247, 'Palestinian': 1, 'British': 73, 'Chilean': 1, 'German': 34, 'Swiss': 11, 'Dutch': 8, 'Nationality unknown': 6, 'Belgian': 4, 'Russian': 8, '0': 5, 'Japanese': 2, 'Israeli': 2, 'Norwegian': 2, 'Polish': 1, 'Italian': 5, 'Mexican': 3, 'Hungarian': 1, 'Swedish': 1, 'Bolivian': 1, 'Czechoslovakian': 1}, '1940s': {'Mexican': 35, 'American': 517, 'Finnish': 4, 'Palestinian': 1, 'Colombian': 3, 'French': 101, 'Polish': 7, '0': 22, 'Costa Rican': 1, 'British': 63, 'Chilean': 5, 'Argentine': 18, 'Italian': 36, 'German': 55, 'Swiss': 24, 'Haitian': 10, 'Brazilian': 9, 'Bolivian': 1, 'Swedish': 10, 'Cuban': 10, 'Peruvian': 2, 'Nationality unknown': 18, 'Spanish': 3, 'Romanian': 2, 'Greek': 2, 'Chinese': 3, 'Australian': 3, 'Dutch': 11, 'Belgian': 7, 'Czech': 4, 'Uruguayan': 3, 'Japanese': 4, 'Ecuadorian': 2, 'Austrian': 9, 'Russian': 17, 'Danish': 5, 'Nicaraguan': 1, 'Guatemalan': 1, 'Norwegian': 2, 'Hungarian': 3, 'Israeli': 2, 'Canadian': 1, 'Native American': 1, 'Yugoslav': 1, 'Scottish': 1}, '1990s': {'American': 458, 'French': 50, 'German': 62, 'Italian': 42, 'British': 67, 'Dutch': 30, 'Danish': 12, 'Japanese': 55, 'Swiss': 34, 'Mexican': 9, 'Austrian': 12, 'Spanish': 20, 'Portuguese': 2, 'Cuban': 6, 'Swedish': 4, 'Israeli': 4, 'Czech': 8, 'Belgian': 3, 'Polish': 14, 'Norwegian': 4, 'Brazilian': 15, 'Russian': 23, 'Argentine': 6, 'Azerbaijani': 1, '0': 14, 'Chilean': 8, 'Canadian': 11, 'Finnish': 4, 'Senegalese': 1, 'Indian': 2, 'Nationality unknown': 8, 'Thai': 1, 'Colombian': 2, 'Australian': 4, 'South African': 3, 'Iranian': 2, 'Peruvian': 1, 'Scottish': 1, 'Romanian': 2, 'Chinese': 6, 'Ukrainian': 2, 'Pakistani': 1, 'Korean': 1, 'Bahamian': 1, 'Malian': 1, 'Taiwanese': 1, 'Hungarian': 1, 'Uruguayan': 1, 'Czechoslovakian': 1}})

### Tate