In [4]:
import pandas as pd
import csv
import re

# MoMa

In [5]:
spreadsheet = pd.read_csv('https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artworks.csv')
pd.set_option('display.max_columns', None)
MoMaArtworks = spreadsheet[['Title', 'Artist', 'ConstituentID', 'Nationality', 'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'CreditLine', 'Classification', 'Department', 'DateAcquired', 'URL']]
MoMaArtists = pd.read_csv('https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artists.csv')
MoMaArtists["ConstituentID"] = MoMaArtists["ConstituentID"].astype(str)
MoMa = pd.merge(MoMaArtworks,MoMaArtists[['ConstituentID', 'Wiki QID']],on='ConstituentID', how='left')
MoMa.rename(columns = {'ConstituentID':'Id', 'BeginDate':'BirthDate', 'EndDate':'DeathDate'}, inplace = True)

# Tate

In [8]:
spreadsheet = pd.read_csv('https://raw.githubusercontent.com/tategallery/collection/master/artwork_data.csv')
pd.set_option('display.max_columns', None)
TateArtworks = spreadsheet[['artist', 'artistId', 'title', 'medium', 'creditLine', 'year', 'acquisitionYear', 'url']]
TateArtworks.rename(columns = {'artistId':'id'}, inplace = True)
TateArtworks.id = TateArtworks.id.astype(str)
TateArtists = pd.read_csv('https://raw.githubusercontent.com/tategallery/collection/master/artist_data.csv')
TateArtists["id"] = TateArtists["id"].astype(str)
Tate = pd.merge(TateArtworks,TateArtists[['id', 'gender', 'yearOfBirth', 'yearOfDeath']], on='id', how='left')
Tate.rename(columns = {'artist':'Artist', 'id':'Id', 'title':'Title', 'yearOfBirth':'BirthDate', 'yearOfDeath':'DeathDate', 'medium':'Medium', 'creditLine':'CreditLine', 'year':'Date', 'acquisitionYear':'DateAcquired', 'url':'URL', 'gender':'Gender'}, inplace = True)

C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\pandas\core\frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\pandas\core\generic.py:5489: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

# Cleaning up

## MoMa

Let's get rid of nan values:

In [9]:
MoMa.fillna(value='0', inplace=True)

Clean MoMa Acquisition Dates: they are on the form YYYY-MM-DD. We just want the YYYY as an int.

In [10]:
def cleanAcquisitionDatesMoMa(date):
    if '-' in date:
        date = date.split('-')[0]
    return date

In [11]:
MoMa["DateAcquired"] = MoMa["DateAcquired"].apply(cleanAcquisitionDatesMoMa)

Clean MoMa Artworks' Dates. <br>
Indeed, they are in some unclear forms, such as:<br>
(1950).  (Prints executed 1948<br>
(1883, published 1897)<br>
(1911, dated 1912, published c. 1917)<br>
(April 9 and August 31, 1971)<br>
(April 23) 1968<br>
(journals published October 2003 through June 2004)<br>

We just need the year.

In [12]:
def cleanDatesMoMa(date):
    if '-' in date:
        splitted = date.split('-')
        date = ' '.join(splitted) 
    if '/' in date:
        splitted = date.split('/')
        date = ' '.join(splitted) 
    if ',' in date:
        splitted = date.split(',')
        date = ' '.join(splitted) 
    if '.' in date:
        splitted = date.split('.')
        date = ' '.join(splitted) 
        
    x = re.search("\d{4}", date)
    if x:
        date = x.group()
    else:
        date = '0'
    return date

In [13]:
MoMa["Date"] = MoMa["Date"].astype(str)
MoMa["Date"] = MoMa["Date"].apply(cleanDatesMoMa)

## Tate

Let's get rid of nan values and strings:

In [19]:
Tate.fillna(value='0', inplace=True)
Tate['Date'].replace(to_replace='no date', value='0', inplace= True)
Tate['Date'].replace(to_replace='c', value='0', inplace= True)

Clean Tate Acquisition and Artworks' Dates: they are on the form YYYY.0. We want an integer.

In [20]:
def cleanDatesTate(date):
    if '.' in date:
        date = date.split('.')[0] 
    return date

In [21]:
Tate["Date"] = Tate["Date"].astype(str)
Tate["Date"] = Tate["Date"].apply(cleanDatesTate)

Tate["DateAcquired"] = Tate["DateAcquired"].astype(str)
Tate["DateAcquired"] = Tate["DateAcquired"].apply(cleanDatesTate)

# Exploration

## How many artworks?

In [22]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    selected_rows = museum[~museum['Title'].isnull()]
    name = names.pop(0)
    print("Total artworks at", name, ":", len(selected_rows.index))

Total artworks at Moma : 140848
Total artworks at Tate : 69201

## When do artworks date back?

In [23]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    museum["Date"] = museum["Date"].astype(int)
    museum.sort_values(by=['Date'], inplace=True)
    museumWithoutZeros = museum[museum['Date'] != 0]
    firstDate = museumWithoutZeros['Date'].iat[0]
    lastDate = museumWithoutZeros['Date'].iat[-1]
    name = names.pop(0)
    print("Most ancient artwork at", name, "dates back to",firstDate )
    print("Most receny artwork at", name, "dates back to",lastDate )

Most ancient artwork at Moma dates back to 1768
Most receny artwork at Moma dates back to 2022
Most ancient artwork at Tate dates back to 1545
Most receny artwork at Tate dates back to 2012

## When were artworks acquired?

In [24]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    museum["DateAcquired"] = museum["DateAcquired"].astype(int)
    museum.sort_values(by=['DateAcquired'], inplace=True)
    museumWithoutZeros = museum[museum['DateAcquired'] != 0]
    firstDate = museumWithoutZeros['DateAcquired'].iat[0]
    lastDate = museumWithoutZeros['Date'].iat[-1]
    name = names.pop(0)
    print("Most ancient artwork at", name, "dates back to",firstDate )
    print("Most receny artwork at", name, "dates back to",lastDate )

Most ancient artwork at Moma dates back to 1929
Most receny artwork at Moma dates back to 2022
Most ancient artwork at Tate dates back to 1823
Most receny artwork at Tate dates back to 2012

## Artists

For examining artist-related issues, we will rely on the specific csvs from the museums, whoch we already transformed into dataframes.

### How many artists?

print('Total number of artists at MoMa', len(MoMaArtists))

In [25]:
print('Total number of artists at Tate', len(TateArtists))

Total number of artists at Tate 3532

### What is the most represented gender?

In [26]:
TateArtists['gender'].value_counts()

Male      2895
Female     521
Name: gender, dtype: int64

In [27]:
MoMaArtists['Gender'].value_counts()

Male          9715
Female        2342
male            17
Non-Binary       2
female           1
Non-binary       1
Name: Gender, dtype: int64

### What are the most represented nationalities?

### Tate

Since artists' names are in the form 'Surname, Name', we use a function to normalise that as 'Name Surname'.

In [ ]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from collections import defaultdict
from json import JSONDecodeError
from qwikidata.sparql import return_sparql_query_results # python library for working with sparql and linked data from WikiData
import time
from requests.exceptions import ChunkedEncodingError
import math
#from SPARQLWrapper import SPARQLWrapper, JSON # sparql query library
import ssl

In [ ]:
def cleanArtistsNames(name):
    if ',' in name:
        name= name.split(',')
        name[0], name[1] = name[1], name[0]
        name = ' '.join(name)
    return name

In [ ]:
TateArtists["name"] = TateArtists["name"].apply(cleanArtistsNames)
TateArtists= TateArtists.iloc[:1]

In [ ]:
artists_genders_from_ids = """
SELECT DISTINCT ?artist

WHERE {{
    ?artist wdt:P31 wd:Q5 ;
            wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618, wd:Q1028181) )    
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "{}" ).
}}

"""

In [ ]:
def find_artists_genders_from_ids(name):
    query = artists_genders_from_ids.format(name.strip())
    print(query)
    res = return_sparql_query_results(query_string=query)
    try:
        wdt_uri = res['results']['bindings'][0]['artist']['value']
    except (IndexError, KeyError):
        return ""
    return wdt_uri.split("/")[-1]

In [ ]:
TateArtists["Artist Entity"] = TateArtists["name"].apply(find_artists_genders_from_ids)
pd.set_option('display.max_colwidth', None)
display(TateArtists)

In [ ]:
from rdflib import Namespace , Literal , URIRef
from rdflib.namespace import RDF , RDFS
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl
import rdflib

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

artistsIds = TateArtists["name"].values
artistsSlot = artistsIds[:5]
artists = "leonardo" #' '.join(artistsSlot) ['roberto giovanni luca']

miao = "Robert Blake"
artists_genders_from_ids = """
SELECT DISTINCT ?artist

WHERE {{
    ?artist wdt:P31 wd:Q5 ;
            wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )   
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Magdalena Abakanowicz").
}}

"""

# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(artists_genders_from_ids)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()
print(results)

# manipulate the result
for result in results["results"]["bindings"]:
    artists_id =  result["artist"]["value"]
    print(artists_id)

In [ ]:
searchWiki(0, TateArtists)

### MoMa

In [33]:
MoMaArtists['Nationality'].value_counts()

American     5181
German        965
British       860
French        847
Italian       536
             ...
Burkinabé       1
Kuwaiti         1
Catalan         1
Persian         1
Coptic          1
Name: Nationality, Length: 119, dtype: int64

# Acquisition criteria.

1.  In which years are artists' works mostly acquired?

## Year by year

In [45]:
MoMa['DateAcquired'].value_counts()

1964    12828
2008     7204
1968     6894
0        6682
2001     4170
        ...
1933       93
1932       18
1929        9
1930        7
1931        3
Name: DateAcquired, Length: 95, dtype: int64

In [46]:
Tate['DateAcquired'].value_counts()

1856    37893
1997     3706
1975     3046
2009     1364
1979     1166
        ...
1873        1
1843        1
1863        1
1842        1
1855        1
Name: DateAcquired, Length: 179, dtype: int64

Let us analyse acquisitions from a larger perspective: not year by year, but for every ten years.

In [48]:
MoMa.to_csv('MoMa.csv')
with open('MoMa.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    years={}
    for item in reader:
        if item['DateAcquired']not in years:
            years[item['DateAcquired']]= 1
        else:
            years[item['DateAcquired']]+= 1
new_dict={}
for key in years:
    key_int=int(key)
    if key_int in range(1928,1941):
        if '1930s' not in new_dict.keys():
               new_dict['1930s']= years[key]
        else:
            new_dict['1930s'] += years[key]
    if key_int in range(1940,1951):
        if '1940s' not in new_dict.keys():
               new_dict['1940s']= years[key]
        else:
            new_dict['1940s'] += years[key]
    
    if key_int in range(1950,1961):
        if '1950s' not in new_dict.keys():
               new_dict['1950s']= years[key]
        else:
            new_dict['1950s'] += years[key]
    
    if key_int in range(1960,1971):
        if '1960s' not in new_dict.keys():
               new_dict['1960s']= years[key]
        else:
            new_dict['1960s'] += years[key]
    
    if key_int in range(1970,1981):
        if '1970s' not in new_dict.keys():
               new_dict['1970s']= years[key]
        else:
            new_dict['1970s'] += years[key]
    if key_int in range(1980,1991):
        if '1980s' not in new_dict.keys():
               new_dict['1980s']= years[key]
        else:
            new_dict['1980s'] += years[key]
    
    if key_int in range(1990,2001):
        if '1990s' not in new_dict.keys():
               new_dict['1990s']= years[key]
        else:
            new_dict['1990s'] += years[key]
        
    
print('Moma:', new_dict)

Moma: {'1930s': 3318, '1940s': 8274, '1950s': 6846, '1960s': 31950, '1970s': 13868, '1980s': 11497, '1990s': 13332}

In [49]:
Tate.to_csv('Tate.csv')
with open('Tate.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    years={}
    for item in reader:
        if item['DateAcquired']not in years:
            years[item['DateAcquired']]= 1
        else:
            years[item['DateAcquired']]+= 1
new_dict={}
for key in years:
    key_int=int(key)
    if key_int in range(1928,1941):
        if '1930s' not in new_dict.keys():
               new_dict['1930s']= years[key]
        else:
            new_dict['1930s'] += years[key]
    if key_int in range(1940,1951):
        if '1940s' not in new_dict.keys():
               new_dict['1940s']= years[key]
        else:
            new_dict['1940s'] += years[key]
    
    if key_int in range(1950,1961):
        if '1950s' not in new_dict.keys():
               new_dict['1950s']= years[key]
        else:
            new_dict['1950s'] += years[key]
    
    if key_int in range(1960,1971):
        if '1960s' not in new_dict.keys():
               new_dict['1960s']= years[key]
        else:
            new_dict['1960s'] += years[key]
    
    if key_int in range(1970,1981):
        if '1970s' not in new_dict.keys():
               new_dict['1970s']= years[key]
        else:
            new_dict['1970s'] += years[key]
    if key_int in range(1980,1991):
        if '1980s' not in new_dict.keys():
               new_dict['1980s']= years[key]
        else:
            new_dict['1980s'] += years[key]
    
    if key_int in range(1990,2001):
        if '1990s' not in new_dict.keys():
               new_dict['1990s']= years[key]
        else:
            new_dict['1990s'] += years[key]
        
    
print('Tate:', new_dict)

Tate: {'1930s': 788, '1940s': 776, '1950s': 633, '1960s': 1048, '1970s': 6853, '1980s': 5538, '1990s': 6693}

## Gender Gap <br>
Does it decrease?
When?

In [56]:
with open('MoMa.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    gender={'1930s': {'Male': 0, 'Female': 0}, '1940s': {'Male': 0, 'Female': 0}, '1950s': {'Male': 0, 'Female': 0}, '1960s': {'Male': 0, 'Female': 0}, '1970s': {'Male': 0, 'Female': 0}, '1980s': {'Male': 0, 'Female': 0}, '1990s': {'Male': 0, 'Female': 0}, '2000': {'Male': 0, 'Female': 0}}
    for item in reader:
        if int(item['DateAcquired']) in range (1928,1941):
            if (item['Gender'] == '(Female)'): 
                gender['1930s']['Female'] += 1
            else:
                gender['1930s']['Male'] += 1
        if int(item['DateAcquired']) in range (1940,1951):
            if (item['Gender'] == '(Female)'): 
                gender['1940s']['Female'] += 1
            else:
                gender['1940s']['Male'] += 1
        if int(item['DateAcquired']) in range (1950,1961):
            if (item['Gender'] == '(Female)'): 
                gender['1950s']['Female'] += 1
            else:
                gender['1950s']['Male'] += 1
        if int(item['DateAcquired']) in range (1960,1971):
            if (item['Gender'] == '(Female)'): 
                gender['1960s']['Female'] += 1
            else:
                gender['1960s']['Male'] += 1
        if int(item['DateAcquired']) in range (1970,1981):
            if (item['Gender'] == '(Female)'): 
                gender['1970s']['Female'] += 1
            else:
                gender['1970s']['Male'] += 1
        if int(item['DateAcquired']) in range (1980,1991):
            if (item['Gender'] == '(Female)'): 
                gender['1980s']['Female'] += 1
            else:
                gender['1980s']['Male'] += 1
        if int(item['DateAcquired']) in range (1990,2001):
            if (item['Gender'] == '(Female)'): 
                gender['1990s']['Female'] += 1
            else:
                gender['1990s']['Male'] += 1
    print(gender)

{'1930s': {'Male': 3082, 'Female': 236}, '1940s': {'Male': 7707, 'Female': 567}, '1950s': {'Male': 6476, 'Female': 370}, '1960s': {'Male': 30701, 'Female': 1249}, '1970s': {'Male': 12245, 'Female': 1623}, '1980s': {'Male': 10230, 'Female': 1267}, '1990s': {'Male': 10522, 'Female': 2810}, '2000': {'Male': 0, 'Female': 0}}

In [59]:
with open('Tate.csv', mode='r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    gender={'1930s': {'Male': 0, 'Female': 0}, '1940s': {'Male': 0, 'Female': 0}, '1950s': {'Male': 0, 'Female': 0}, '1960s': {'Male': 0, 'Female': 0}, '1970s': {'Male': 0, 'Female': 0}, '1980s': {'Male': 0, 'Female': 0}, '1990s': {'Male': 0, 'Female': 0}, '2000': {'Male': 0, 'Female': 0}}
    for item in reader:
        if int(item['DateAcquired']) in range (1928,1941):
            if (item['Gender'] == 'Female'): 
                gender['1930s']['Female'] += 1
            else:
                gender['1930s']['Male'] += 1
        if int(item['DateAcquired']) in range (1940,1951):
            if (item['Gender'] == 'Female'): 
                gender['1940s']['Female'] += 1
            else:
                gender['1940s']['Male'] += 1
        if int(item['DateAcquired']) in range (1950,1961):
            if (item['Gender'] == 'Female'): 
                gender['1950s']['Female'] += 1
            else:
                gender['1950s']['Male'] += 1
        if int(item['DateAcquired']) in range (1960,1971):
            if (item['Gender'] == 'Female'): 
                gender['1960s']['Female'] += 1
            else:
                gender['1960s']['Male'] += 1
        if int(item['DateAcquired']) in range (1970,1981):
            if (item['Gender'] == 'Female'): 
                gender['1970s']['Female'] += 1
            else:
                gender['1970s']['Male'] += 1
        if int(item['DateAcquired']) in range (1980,1991):
            if (item['Gender'] == 'Female'): 
                gender['1980s']['Female'] += 1
            else:
                gender['1980s']['Male'] += 1
        if int(item['DateAcquired']) in range (1990,2001):
            if (item['Gender'] == 'Female'): 
                gender['1990s']['Female'] += 1
            else:
                gender['1990s']['Male'] += 1
    print(gender)

{'1930s': {'Male': 722, 'Female': 66}, '1940s': {'Male': 700, 'Female': 76}, '1950s': {'Male': 598, 'Female': 35}, '1960s': {'Male': 967, 'Female': 81}, '1970s': {'Male': 6398, 'Female': 455}, '1980s': {'Male': 5202, 'Female': 336}, '1990s': {'Male': 6025, 'Female': 668}, '2000': {'Male': 0, 'Female': 0}}