In [1]:
import pandas as pd
import csv
import re

# MoMa

In [2]:
spreadsheet = pd.read_csv('https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artworks.csv')
pd.set_option('display.max_columns', None)
MoMaArtworks = spreadsheet[['Title', 'Artist', 'ConstituentID', 'Nationality', 'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'CreditLine', 'Classification', 'Department', 'DateAcquired', 'URL']]
MoMaArtists = pd.read_csv('https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artists.csv')
MoMaArtists["ConstituentID"] = MoMaArtists["ConstituentID"].astype(str)
MoMa = pd.merge(MoMaArtworks,MoMaArtists[['ConstituentID', 'Wiki QID']],on='ConstituentID', how='left')
MoMa.rename(columns = {'ConstituentID':'Id', 'BeginDate':'BirthDate', 'EndDate':'DeathDate'}, inplace = True)

In [3]:
def cleanWikiIDs(id):
    id = 'wd:'+id
    return id

In [4]:
'''MoMa = MoMa.drop_duplicates(subset='Artist', keep="first")
MoMa["Wiki QID"] = MoMa["Wiki QID"].apply(cleanWikiIDs)'''

'MoMa = MoMa.drop_duplicates(subset=\'Artist\', keep="first")\nMoMa["Wiki QID"] = MoMa["Wiki QID"].apply(cleanWikiIDs)'

# Tate

In [183]:
spreadsheet = pd.read_csv('https://raw.githubusercontent.com/tategallery/collection/master/artwork_data.csv')
pd.set_option('display.max_columns', None)
TateArtworks = spreadsheet[['artist', 'artistId', 'title', 'medium', 'creditLine', 'year', 'acquisitionYear', 'url']]
TateArtworks.rename(columns = {'artistId':'id'}, inplace = True)
TateArtworks.id = TateArtworks.id.astype(str)
TateArtists = pd.read_csv('https://raw.githubusercontent.com/tategallery/collection/master/artist_data.csv')
TateArtists["id"] = TateArtists["id"].astype(str)
Tate = pd.merge(TateArtworks,TateArtists[['id', 'gender', 'yearOfBirth', 'yearOfDeath']], on='id', how='left')
Tate.rename(columns = {'artist':'Artist', 'id':'Id', 'title':'Title', 'yearOfBirth':'BirthDate', 'yearOfDeath':'DeathDate', 'medium':'Medium', 'creditLine':'CreditLine', 'year':'Date', 'acquisitionYear':'DateAcquired', 'url':'URL', 'gender':'Gender'}, inplace = True)

C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\pandas\core\frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\Francesca\AppData\Roaming\Python\Python39\site-packages\pandas\core\generic.py:5489: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

# Cleaning up

## MoMa

Let's get rid of nan values:

In [184]:
MoMa.fillna(value='0', inplace=True)

Clean MoMa Acquisition Dates: they are on the form YYYY-MM-DD. We just want the YYYY as an int.

In [7]:
def cleanAcquisitionDatesMoMa(date):
    if '-' in date:
        date = date.split('-')[0]
    return date

In [8]:
MoMa["DateAcquired"] = MoMa["DateAcquired"].apply(cleanAcquisitionDatesMoMa)

Clean MoMa Artworks' Dates. <br>
Indeed, they are in some unclear forms, such as:<br>
(1950).  (Prints executed 1948<br>
(1883, published 1897)<br>
(1911, dated 1912, published c. 1917)<br>
(April 9 and August 31, 1971)<br>
(April 23) 1968<br>
(journals published October 2003 through June 2004)<br>

We just need the year.

In [9]:
def cleanDatesMoMa(date):
    if '-' in date:
        splitted = date.split('-')
        date = ' '.join(splitted) 
    if '/' in date:
        splitted = date.split('/')
        date = ' '.join(splitted) 
    if ',' in date:
        splitted = date.split(',')
        date = ' '.join(splitted) 
    if '.' in date:
        splitted = date.split('.')
        date = ' '.join(splitted) 
        
    x = re.search("\d{4}", date)
    if x:
        date = x.group()
    else:
        date = '0'
    return date

In [10]:
MoMa["Date"] = MoMa["Date"].astype(str)
MoMa["Date"] = MoMa["Date"].apply(cleanDatesMoMa)

## Tate

Let's get rid of nan values and strings:

In [16]:
Tate.fillna(value='0', inplace=True)
Tate['Date'].replace(to_replace='no date', value='0', inplace= True)
Tate['Date'].replace(to_replace='c', value='0', inplace= True)

Clean Tate Acquisition and Artworks' Dates: they are on the form YYYY.0. We want an integer.

In [17]:
def cleanDatesTate(date):
    if '.' in date:
        date = date.split('.')[0] 
    return date

In [18]:
Tate["Date"] = Tate["Date"].astype(str)
Tate["Date"] = Tate["Date"].apply(cleanDatesTate)

Tate["DateAcquired"] = Tate["DateAcquired"].astype(str)
Tate["DateAcquired"] = Tate["DateAcquired"].apply(cleanDatesTate)

# Exploration

## How many artworks?

In [19]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    selected_rows = museum[~museum['Title'].isnull()]
    name = names.pop(0)
    print("Total artworks at", name, ":", len(selected_rows.index))

Total artworks at Moma : 140848
Total artworks at Tate : 69201

## When do artworks date back?

In [20]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    museum["Date"] = museum["Date"].astype(int)
    museum.sort_values(by=['Date'], inplace=True)
    museumWithoutZeros = museum[museum['Date'] != 0]
    firstDate = museumWithoutZeros['Date'].iat[0]
    lastDate = museumWithoutZeros['Date'].iat[-1]
    name = names.pop(0)
    print("Most ancient artwork at", name, "dates back to",firstDate )
    print("Most receny artwork at", name, "dates back to",lastDate )

Most ancient artwork at Moma dates back to 1768
Most receny artwork at Moma dates back to 2022
Most ancient artwork at Tate dates back to 1545
Most receny artwork at Tate dates back to 2012

## When were artworks acquired?

In [21]:
museums=[MoMa, Tate]
names = ['Moma','Tate']
for museum in museums:
    museum["DateAcquired"] = museum["DateAcquired"].astype(int)
    museum.sort_values(by=['DateAcquired'], inplace=True)
    museumWithoutZeros = museum[museum['DateAcquired'] != 0]
    firstDate = museumWithoutZeros['DateAcquired'].iat[0]
    lastDate = museumWithoutZeros['Date'].iat[-1]
    name = names.pop(0)
    print("Most ancient artwork at", name, "dates back to",firstDate )
    print("Most receny artwork at", name, "dates back to",lastDate )

Most ancient artwork at Moma dates back to 1929
Most receny artwork at Moma dates back to 2022
Most ancient artwork at Tate dates back to 1823
Most receny artwork at Tate dates back to 2012

## Artists

For examining artist-related issues, we will rely on the specific csvs from the museums, whoch we already transformed into dataframes.

### How many artists?

print('Total number of artists at MoMa', len(MoMaArtists))

In [22]:
print('Total number of artists at Tate', len(TateArtists))

Total number of artists at Tate 3532

### What is the most represented gender?

In [23]:
TateArtists['gender'].value_counts()

Male      2895
Female     521
Name: gender, dtype: int64

In [24]:
MoMaArtists['Gender'].value_counts()

Male          9715
Female        2342
male            17
Non-Binary       2
female           1
Non-binary       1
Name: Gender, dtype: int64

### What are the most represented nationalities?

Since artists' names are in the form 'Surname, Name', we use a function to normalise that as 'Name Surname'.

In [33]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from collections import defaultdict
from json import JSONDecodeError
from qwikidata.sparql import return_sparql_query_results # python library for working with sparql and linked data from WikiData
import time
from requests.exceptions import ChunkedEncodingError
import math
#from SPARQLWrapper import SPARQLWrapper, JSON # sparql query library
import ssl

In [34]:
def cleanArtistsNames(name):
    if ',' in name:
        name= name.split(',')
        name[0], name[1] = name[1], name[0]
        name = ' '.join(name)
    return name

In [185]:
TateArtists["name"] = TateArtists["name"].apply(cleanArtistsNames)
TateArtists= TateArtists.iloc[:4]
display(TateArtists)

,id,name,gender,dates,yearOfBirth,yearOfDeath,placeOfBirth,placeOfDeath,url
0,10093,Magdalena Abakanowicz,Female,born 1930,1930.0,NaN,Polska,NaN,http://www.tate.org.uk/art/artists/magdalena-abakanowicz-10093
1,0,Edwin Austin Abbey,Male,1852–1911,1852.0,1911.0,"Philadelphia, United States","London, United Kingdom",http://www.tate.org.uk/art/artists/edwin-austin-abbey-0
2,2756,Berenice Abbott,Female,1898–1991,1898.0,1991.0,"Springfield, United States","Monson, United States",http://www.tate.org.uk/art/artists/berenice-abbott-2756
3,1,Lemuel Francis Abbott,Male,1760–1803,1760.0,1803.0,"Leicestershire, United Kingdom","London, United Kingdom",http://www.tate.org.uk/art/artists/lemuel-francis-abbott-1

In [198]:
artists_genders_from_ids = """
SELECT DISTINCT ?artist

WHERE {{
    ?artist wdt:P31 wd:Q5 ;
            wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618, wd:Q1028181) )    
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "{}" ).
}}

"""

In [199]:
def find_artists_genders_from_ids(name):
    query = artists_genders_from_ids.format(name.strip())
    print(query)
    res = return_sparql_query_results(query_string=query)
    try:
        wdt_uri = res['results']['bindings'][0]['artist']['value']
    except (IndexError, KeyError):
        return ""
    return wdt_uri.split("/")[-1]

In [200]:
TateArtists["Artist Entity"] = TateArtists["name"].apply(find_artists_genders_from_ids)
pd.set_option('display.max_colwidth', None)
display(TateArtists)

SELECT DISTINCT ?artist

WHERE {
    ?artist wdt:P31 wd:Q5 ;
            wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618, wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Magdalena Abakanowicz" ).
}



SELECT DISTINCT ?artist

WHERE {
    ?artist wdt:P31 wd:Q5 ;
            wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618, wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Edwin Austin Abbey" ).
}



SELECT DISTINCT ?artist

WHERE {
    ?artist wdt:P31 wd:Q5 ;
            wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618, wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Berenice Abbott" ).
}



SELECT DISTINCT ?artist

WHERE {
    ?artist wdt:P31 wd:Q5 ;
            wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618, wd:Q1028181) )
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Lemuel Francis Abbott" ).
}

,id,name,gender,dates,yearOfBirth,yearOfDeath,placeOfBirth,placeOfDeath,url,Artist Entity
0,10093,Magdalena Abakanowicz,Female,born 1930,1930.0,NaN,Polska,NaN,http://www.tate.org.uk/art/artists/magdalena-abakanowicz-10093,Q158080
1,0,Edwin Austin Abbey,Male,1852–1911,1852.0,1911.0,"Philadelphia, United States","London, United Kingdom",http://www.tate.org.uk/art/artists/edwin-austin-abbey-0,Q259538
2,2756,Berenice Abbott,Female,1898–1991,1898.0,1991.0,"Springfield, United States","Monson, United States",http://www.tate.org.uk/art/artists/berenice-abbott-2756,
3,1,Lemuel Francis Abbott,Male,1760–1803,1760.0,1803.0,"Leicestershire, United Kingdom","London, United Kingdom",http://www.tate.org.uk/art/artists/lemuel-francis-abbott-1,Q725410

In [136]:
from rdflib import Namespace , Literal , URIRef
from rdflib.namespace import RDF , RDFS
from SPARQLWrapper import SPARQLWrapper, JSON
import ssl
import rdflib

ssl._create_default_https_context = ssl._create_unverified_context

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

artistsIds = TateArtists["name"].values
artistsSlot = artistsIds[:5]
artists = "leonardo" #' '.join(artistsSlot) ['roberto giovanni luca']

miao = "Robert Blake"
artists_genders_from_ids = """
SELECT DISTINCT ?artist

WHERE {{
    ?artist wdt:P31 wd:Q5 ;
            wdt:P106 ?occupation
                  FILTER (?occupation IN (wd:Q1281618) )   
    ?artist rdfs:label ?o
                  FILTER ( str(?o) = "Magdalena Abakanowicz").
}}

"""

# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(artists_genders_from_ids)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()
print(results)

# manipulate the result
for result in results["results"]["bindings"]:
    artists_id =  result["artist"]["value"]
    print(artists_id)

{'head': {'vars': ['artist']}, 'results': {'bindings': [{'artist': {'type': 'uri', 'value': 'http://www.wikidata.org/entity/Q158080'}}]}}
http://www.wikidata.org/entity/Q158080

In [ ]:
searchWiki(0, TateArtists)